$barheight: 3em;
$lineh: 1.5em;

$red-1: #f04031;
$red-2: #f05948;
$red-3: #f68d69;
$red-4: #f9aa8f;
$red-5: #fee7dd;
$orange-1: #f6881f;
$orange-2: #f9a04a;
$orange-3: #fbb675;
$orange-4: #fdcc9c;
$orange-5: #ffe6d4;
$yellow-1: #ffcb06;
$yellow-2: #ffde00;
$yellow-3: #fff200;
$yellow-4: #fff79a;
$yellow-5: #fffcd5;
$yellowgreen-1: #b6c727;
$yellowgreen-2: #cbd658;
$yellowgreen-3: #dce57d;
$yellowgreen-4: #e8eeae;
$yellowgreen-5: #f2f6d5;
$green-1: #02a24b;
$green-2: #0ab26b;
$green-3: #67c18d;
$green-4: #9bd4ae;
$green-5: #e4f2e7;
$turquoise-1: #57b7aa;
$turquoise-2: #89d0c8;
$turquoise-3: #a8dbd5;
$turquoise-4: #c5e6e1;
$turquoise-5: #e3f3f2;
$blue-1: #00a2d3;
$blue-2: #00b9e4;
$blue-3: #48c7e9;
$blue-4: #8fd7ed;
$blue-5: #e1f4fe;
$lilac-1: #4f4c9a;
$lilac-2: #6e69b0;
$lilac-3: #8a84bf;
$lilac-4: #aaa5d1;
$lilac-5: #e8e7f2;
$purple-1: #662d8f;
$purple-2: #7c52a1;
$purple-3: #7d71b4;
$purple-4: #af99c8;
$purple-5: #e9e2ef;
$rose-1: #b72268;
$rose-2: #c2567e;
$rose-3: #cd7d94;
$rose-4: #dba4b3;
$rose-5: #f3e5e9;
