.bg2x2 {
  background-color: #02a24b; }

.bg2x4 {
  background-color: #f04031; }

.bg4x4 {
  background-color: #00a2d3; }

.bg4x8 {
  background-color: #662d8f; }

.bg0x2 {
  background-color: #57b7aa; }

.bg1x2 {
  background-color: #f6881f; }

.bg1x1 {
  background-color: #ffcb06; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1em; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* End of reset */
html, head {
  height: 100%; }

body {
  color: #404040;
  font-family: "Helvetica Neue", 'Earthbound', Helvetica, sans-serif;
  width: 100%;
  line-height: 1.5em;
  overflow-x: hidden; }

.scriptonly {
  display: none; }

h1 {
  font-size: 2em;
  margin-bottom: 0.5em; }

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em; }

h3 {
  font-size: 1.333em;
  margin-bottom: 0.5em; }

h1, h2, h3 {
  font-weight: bold; }

p {
  margin-bottom: 1.5em;
  line-height: 1.5em; }

strong {
  font-weight: bold; }

a {
  text-decoration: none;
  color: #00a2d3;
  font-weight: bold; }

a:hover, a:focus {
  text-decoration: underline; }

a:visited {
  color: #662d8f; }

em {
  font-style: italic; }

button {
  font-weight: bold;
  cursor: pointer; }

ul.files {
  list-style-type: disc;
  margin-bottom: 1em; }

ul.files li {
  margin-left: 2em; }

.light {
  color: #00a2d3;
  background-color: rgba(255, 255, 255, 0.9) !important; }

.dark {
  color: #e1f4fe;
  background-color: rgba(0, 0, 0, 0.9) !important; }

.dark a {
  color: #bbbbbb; }

#modalbg {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute; }

#application {
  background: #000000;
  position: absolute;
  width: 100%;
  min-height: 100%; }

#application.fullscreen {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

#summary, #messages {
  display: none; }

img.screenshot {
  max-width: 100%; }

#progressbar {
  height: 0.3em;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: #404040; }

#progressbar .progress-inner {
  background-color: #00b9e4;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzNmJlMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUyYTdmOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #7d71b4), color-stop(100%, #00b9e4));
  background: -moz-linear-gradient(left, #7d71b4, #00b9e4);
  background: -webkit-linear-gradient(left, #7d71b4, #00b9e4);
  background: linear-gradient(to right, #7d71b4, #00b9e4);
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -ms-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out; }

menu, #bar {
  color: #efefef; }

header {
  position: fixed;
  z-index: 1000;
  left: 0px;
  top: 0px;
  width: 100%;
  right: 0px;
  background-color: #000000; }

#bar {
  display: block;
  width: 100%;
  line-height: 1.5em;
  padding: 0em;
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #202020);
  background-image: -moz-linear-gradient(top, #000000, #202020);
  background-image: -ms-linear-gradient(top, #000000, #202020);
  background-image: -o-linear-gradient(top, #000000, #202020);
  background-image: linear-gradient(to bottom, #000000, #202020);
  background-repeat: repeat-x; }

#bar, nav {
  height: 3em;
  overflow: hidden; }

#bar h1 {
  font-size: 1em;
  margin: auto; }

#bar, .dropdown {
  background-color: rgba(0, 0, 0, 0.85); }

img.icon {
  width: 1.5em;
  height: 1.5em;
  float: left; }

.rtl img.icon {
  float: right; }

.dropdown {
  box-shadow: 0.1em 0.2em 0.25em rgba(0, 0, 0, 0.3);
  background: #202020;
  background-image: -webkit-linear-gradient(top, #202020, #000000);
  background-image: -moz-linear-gradient(top, #202020, #000000);
  background-image: -ms-linear-gradient(top, #202020, #000000);
  background-image: -o-linear-gradient(top, #202020, #000000);
  background-image: linear-gradient(to bottom, #202020, #000000); }

nav li {
  float: left; }

.baritem, nav li {
  display: inline-block;
  height: 3em; }

.baritem span {
  display: inline-block;
  margin: 0.75em;
  margin-left: 0; }

.baritem.left a {
  height: auto; }

.baritem.left a:hover {
  background: transparent; }

.baritem.padded, nav li.padded {
  padding: 0.75em; }

.baritem button {
  border: 0px;
  background: transparent;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: left; }

.baritem a img, .baritem button img, nav a img, .coin {
  margin: 0.75em; }

.baritem .coin {
  float: left;
  margin-left: 0.75em; }

.baritem a, .baritem button, nav a {
  color: inherit;
  text-decoration: none;
  display: block;
  height: 3em; }

.baritem a:hover, .baritem a:focus, .baritem button:hover, .baritem button:focus {
  background-color: #404040;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.barmenu .baritem {
  float: right; }

.barmenu .baritem.left {
  float: left; }

.rtl .barmenu .baritem {
  float: left; }

.dropdown {
  z-index: 994;
  /*
  display: none;
  position: absolute;
  top: 3em;
  */
  width: auto;
  line-height: 1.5em;
  right: 0;
  padding: 0;
  box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-top: 0px;
  border-right: 0px; }

.rtl .dropdown {
  left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  border-left: 0px;
  right: auto; }

.dropdown .baritem, .rtl .dropdown .baritem {
  float: none;
  display: block; }

/*.dropdown .baritem a { padding: 0.75em 1em; }*/
.dropdown.fullwidth {
  width: 100%;
  left: 0px;
  border-left: 0px; }

/* Navigation menus */
nav {
  position: absolute;
  left: 0px;
  right: 0px; }

nav a {
  height: 2.25em;
  text-decoration: none;
  line-height: 1em; }

nav a:hover {
  text-decoration: none; }

nav a.disabled {
  color: #efefef;
  cursor: default; }

nav li:first-child {
  float: left; }

nav li:last-child {
  float: right; }

nav li:first-child a:before {
  content: "❮";
  font-size: 2em;
  padding-right: 0.15em;
  position: relative;
  top: 0.1em; }

nav li:last-child a:after {
  content: "❯";
  font-size: 2em;
  padding-left: 0.15em;
  position: relative;
  top: 0.1em; }

#options li {
  margin-top: 1em; }

.options li {
  margin-bottom: 1em; }

li select, li input, li .toggleinput {
  float: right;
  font-size: 1em;
  font-family: Arial, sans-serif; }

/* Sprites */
.coin {
  background: url("../images/coin.png");
  background-size: 100% 100%;
  border-radius: 50%;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  margin: 0 0.25em -0.4em 0; }

img.icon, img.iconbig {
  opacity: 0.9;
  filter: alpha(opacity=90); }

a:hover > img.icon {
  opacity: 1;
  filter: alpha(opacity=100); }

img.icon, .ui-icon {
  background: url("../images/icons.png") no-repeat scroll transparent;
  background-size: 6em; }

img.menu {
  background-position: -3em 0; }

img.cost {
  background-position: -1.5em 0; }

img.mass {
  background-position: -1.5em -1.5em; }

img.time {
  background-position: -1.5em -3em; }

img.science {
  background-position: -1.5em -4.5em; }

img.success {
  background-position: -1.5em -6em; }

img.error {
  background-position: -1.5em -7.5em; }

img.warning {
  background-position: -1.5em -9em; }

img.globe {
  background-position: -3em -6em; }

img.add {
  background-position: -4.5em -6em; }

img.minus {
  background-position: -4.5em -7.5em; }

img.profile {
  background-position: -1.5em -10.5em; }

img.options {
  background-position: -3em -10.5em; }

img.save {
  background-position: -3em -1.5em; }

img.load {
  background-position: -3em -3em; }

img.back {
  background-position: -3em -4.5em; }

img.restart {
  background-position: -4.5em -1.5em; }

img.help {
  background-position: -4.5em -3em; }

img.fullscreen {
  background-position: -3em -7.5em; }

img.close {
  background-position: -4.5em -10.5em; }

.fullscreen img.fullscreen {
  background-position: -3em -9em; }

.success {
  color: #ffffff; }

.cost {
  color: #ffde00; }

.power {
  color: #ffcb06; }

.mass {
  color: #aaa5d1; }

.science {
  color: #69dfff; }

.profile {
  color: #f6dc8c; }

.error {
  color: #ff4a4a; }

.warning {
  color: #ffee00; }

.COMMS {
  background-color: #fee7dd; }

.EO {
  background-color: #e4f2e7; }

.NAV {
  background-color: #e1f4fe; }

section {
  background: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3.3em 0em 0em 0em;
  min-height: 100vh;
  flex: 1 1 100%; }

.msg {
  z-index: 995;
  line-height: 1.5em;
  position: relative;
  width: 100%;
  max-width: 100%;
  background-color: #dfdfdf;
  text-align: center; }

.msg, .msg .close {
  padding: 0.75em 0.75em; }

.msg .close {
  position: absolute;
  top: 0px;
  right: 0px; }

.msg .close:hover {
  cursor: pointer; }

section:first-child {
  padding-top: 3.2em; }

body.front section:first-child {
  padding-top: 3em; }

.msg + section {
  padding-top: 0; }

.padded {
  padding: 2em; }

section.view {
  width: 100%;
  max-width: 100%;
  -webkit-transition: left 1s ease;
  -moz-transition: left 1s ease;
  -ms-transition: left 1s ease;
  -o-transition: left 1s ease;
  transition: left 1s ease; }

section.view.js {
  position: absolute;
  top: 0px; }

section.view h2 {
  text-align: center; }

section.view p {
  text-align: center; }

body.front section.view p {
  text-align: left; }

/* CSS3 Animations */
section.view.slide-hide {
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: -0.1s;
  -moz-animation-delay: -0.1s;
  -o-animation-delay: -0.1s;
  animation-delay: -0.1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: slideHide;
  -moz-animation-name: slideHide;
  animation-name: slideHide; }

@-webkit-keyframes slideHide {
  0% {
    visibility: visible; }
  100% {
    visibility: hidden; } }
@-moz-keyframes slideHide {
  0% {
    visibility: visible; }
  100% {
    visibility: hidden; } }
@-o-keyframes slideHide {
  0% {
    visibility: visible; }
  100% {
    visibility: hidden; } }
@keyframes slideHide {
  0% {
    visibility: visible; }
  100% {
    visibility: hidden; } }
section#launch {
  background-color: #000000;
  color: #efefef; }

section#type .holder {
  width: 33%;
  padding: 1em; }

section#type .holder p {
  text-align: left; }

.not-at-start {
  display: none; }

.lower {
  width: 100%; }

.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
  height: 100%; }

.row-flex-wrap {
  width: 100%;
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex: 0; }

.row-flex > div[class*='col-'] {
  /*margin:-.2px;*/
  /* hack adjust for wrapping */ }

.row-flex > div[class*='col-'] .flex {
  width: 100%; }

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  width: 100%;
  flex-flow: column nowrap; }

.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2; }

.col-30 {
  width: 30%;
  position: relative; }

.col-40 {
  width: 40%;
  position: relative; }

.col-50 {
  width: 50%;
  position: relative; }

.col-60 {
  width: 60%;
  position: relative; }

.col-70 {
  width: 70%;
  position: relative; }

.satellite-holder {
  margin: auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: table;
  height: 100%;
  max-height: 100vh;
  bottom: 0px; }

.holder-holder {
  display: table;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100vh; }

.isogrid {
  background: #e1f4fe;
  background-image: -webkit-linear-gradient(0deg, transparent 48%, white 49%, white 51%, transparent 52%, transparent), -webkit-linear-gradient(-90deg, transparent 48%, white 49%, white 51%, transparent 52%, transparent);
  background-image: linear-gradient(0deg, transparent 48%, white 49%, white 51%, transparent 52%, transparent), linear-gradient(-90deg, transparent 48%, white 49%, white 51%, transparent 52%, transparent);
  background-size: 3em 3em;
  background-position: center center; }

.isogrid.threeD {
  background-image: -webkit-linear-gradient(60deg, transparent 49%, white 49.4%, white 50.6%, transparent 51%, transparent), -webkit-linear-gradient(-60deg, transparent 49%, white 49.4%, white 50.6%, transparent 51%, transparent);
  background-image: linear-gradient(30deg, transparent 49%, white 49.4%, white 50.6%, transparent 51%, transparent), linear-gradient(-30deg, transparent 49%, white 49.4%, white 50.6%, transparent 51%, transparent);
  background-size: 5.2896em 3.0295em;
  background-position: 0 0, 0 0; }

section {
  display: flex; }

section .padded {
  width: 100%; }

.table {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: table;
  display: flex;
  flex-direction: column; }

.table-row-top {
  position: relative; }

.table-row-top > .padder {
  padding-bottom: 0px; }

.table-row-top.padded {
  margin-bottom: 0px; }

.table-row {
  display: flex;
  position: relative;
  -webkit-flex: 1 100%;
  -webkit-box: 1 100%;
  -moz-box: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%; }

.table-row > .padder {
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px; }

.table-left, .table-right {
  vertical-align: top;
  position: relative;
  height: 100%; }

.table-left {
  width: 60%; }

.table-right {
  width: 40%; }

button.fancy {
  padding: 0.375em;
  background-color: #efefef;
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  -ms-border-radius: 0.375em;
  border-radius: 0.375em;
  background: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #cccccc);
  background-image: -moz-linear-gradient(top, #efefef, #cccccc);
  background-image: -ms-linear-gradient(top, #efefef, #cccccc);
  background-image: -o-linear-gradient(top, #efefef, #cccccc);
  background-image: linear-gradient(to bottom, #efefef, #cccccc);
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 1em; }

button.fancy:disabled {
  background: #cccccc; }

button.fancy:hover, button.fancy:focus {
  background: #cccccc;
  background-image: -webkit-linear-gradient(top, #cccccc, #efefef);
  background-image: -moz-linear-gradient(top, #cccccc, #efefef);
  background-image: -ms-linear-gradient(top, #cccccc, #efefef);
  background-image: -o-linear-gradient(top, #cccccc, #efefef);
  background-image: linear-gradient(to bottom, #cccccc, #efefef); }

button.selected {
  background: #02a24b;
  background-image: -webkit-linear-gradient(top, #02a24b, #0ab26b);
  background-image: -moz-linear-gradient(top, #02a24b, #0ab26b);
  background-image: -ms-linear-gradient(top, #02a24b, #0ab26b);
  background-image: -o-linear-gradient(top, #02a24b, #0ab26b);
  background-image: linear-gradient(to bottom, #02a24b, #0ab26b); }

button.selected:hover, button.selected:focus {
  background: #02a24b;
  background-image: -webkit-linear-gradient(top, #02a24b, #0ab26b);
  background-image: -moz-linear-gradient(top, #02a24b, #0ab26b);
  background-image: -ms-linear-gradient(top, #02a24b, #0ab26b);
  background-image: -o-linear-gradient(top, #02a24b, #0ab26b);
  background-image: linear-gradient(to bottom, #02a24b, #0ab26b); }

.zoomcontrol {
  position: absolute;
  padding: 0.75em;
  left: 0px;
  top: 0px;
  font-size: 16px;
  z-index: 999; }

.zoomcontrol button {
  line-height: 0.8em; }

.list {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  margin-left: 1.5em; }

.list li {
  display: table;
  width: 100%;
  margin-bottom: 0.75em; }

.list li:last-child {
  border-bottom: 0px;
  margin-bottom: 0; }

.list li .list-bar, .list li .list-left, .list li .list-right {
  display: table-cell;
  width: auto;
  vertical-align: top; }

.list li .list-bar {
  width: 3.15em;
  vertical-align: top;
  -webkit-border-radius: 0.375em 0 0 0.375em;
  -moz-border-radius: 0.375em 0 0 0.375em;
  -ms-border-radius: 0.375em 0 0 0.375em;
  border-radius: 0.375em 0 0 0.375em; }

.list-bar button {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 0.9em; }

.list li .list-bar button:disabled {
  display: none; }

.list li .list-bar button {
  margin: 0.375em 0.375em 0 0.375em; }

.list li .list-bar button:first-child {
  margin: 0.375em 0.375em 0 0.375em; }

.list li .list-left {
  width: 6em;
  padding: 1em;
  padding-right: 0;
  background-color: #efefef; }

.list li .list-right {
  padding: 1em;
  background-color: #efefef; }

.slot0x2 .eg {
  margin-top: 0.6em;
  position: relative; }

.slot1x2 .eg {
  margin-top: 0.375em;
  position: relative; }

.slot1x1 .eg {
  margin-top: 0.375em;
  position: relative; }

.eg {
  width: 100%;
  height: 100%; }

.eg-bg .face {
  display: none; }

.eg-bg .aerial {
  margin-top: 0.75em; }

.eg-bg .aerial2 {
  display: none; }

.eg-bg.threeD .aerial1 {
  transform: none;
  margin-top: 0; }

.package_slot {
  text-align: right;
  width: 6em; }

.package_slot .slot4x8 .hemisphere {
  top: -100%;
  left: 0px; }

.package_slot .slot2x4 .hemisphere {
  top: -100%;
  left: 0px; }

.package_slot .slot1x2 .hemisphere {
  top: -50%;
  left: 0px; }

.package_slot .aerial1 {
  bottom: auto; }

.package_slot .slot4x8 .hemisphere .inner::after, .package_slot .hemisphere .inner::after {
  height: 0.1125em; }

.package_slot div {
  float: right; }

.package_power, .package_mass, .package_cost {
  display: inline-block; }

.bg-orbit {
  background-color: #999999; }

.slot-unavailable {
  display: none !important; }

.orbit-LEO .bg-orbit {
  background-color: #bbbbbb; }

.orbit-MEO .bg-orbit {
  background-color: #67c18d; }

.orbit-HEO .bg-orbit {
  background-color: #f04031; }

.orbit-GEO .bg-orbit {
  background-color: #00b9e4; }

.holder {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.requirements .padder {
  background-color: #efefef;
  padding: 0.75em;
  margin-bottom: 1.5em; }

.requirements.fill-container .padder {
  margin-bottom: 0;
  margin-right: 1.5em; }

.fill-container {
  width: 100%;
  height: 100%; }

#bus .satellite:hover {
  cursor: pointer; }

.satellite {
  font-size: 1em;
  padding: 3em;
  position: relative;
  text-align: left;
  margin: auto; }

/* Change box model for satellite */
.satellite {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.satellite-l {
  width: 6em;
  padding: 1.5em; }

.satellite-m {
  width: 3em;
  padding: 2.25em; }

.satellite-s {
  width: 3em;
  padding: 2.25em; }

.satellite-c {
  width: 1.5em;
  padding: 3em; }

.row, .solar-panels {
  display: block;
  position: relative;
  height: 1.5em; }

.rowbig {
  height: 3em; }

.row:nth-child(1) {
  z-index: 60; }

.row .slot:nth-child(1) {
  z-index: 59; }

.row .slot:nth-child(2) {
  z-index: 58; }

.row .slot:nth-child(3) {
  z-index: 57; }

.row .slot:nth-child(4) {
  z-index: 56; }

.row:nth-child(2) {
  z-index: 50; }

.row:nth-child(3) {
  z-index: 40; }

.row:nth-child(4) {
  z-index: 30; }

.row:nth-child(5) {
  z-index: 20; }

.row:nth-child(6) {
  z-index: 10; }

.row:nth-child(7) {
  z-index: 1; }

.satellite-c .row {
  height: 0.75em; }

.satellite-c .rowflat {
  height: 0.075em; }

.slot {
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em; }

.slot1 {
  left: 0;
  position: absolute; }

.slot2 {
  left: 1.5em;
  position: absolute; }

.slot3 {
  left: 3em;
  position: absolute; }

.slot4 {
  left: 4.5em;
  position: absolute; }

.satellite-c .slot2 {
  left: 0.75em; }

.slot2x2 {
  width: 1.5em;
  height: 1.5em; }

.slot2x4 {
  width: 3em;
  height: 1.5em; }

.slot2x4 .face.left, .slot2x4 .face.right {
  width: 50%; }

.slot4x2 {
  height: 3em; }

.slot4x2 .face.top {
  height: 50%; }

.slot4x4 {
  height: 3em;
  width: 3em; }

.slot4x8 {
  width: 6em;
  height: 3em; }

.slot4x8 .face.left, .slot4x8 .face.right {
  width: 25%; }

.slot0x2 {
  height: 0.15em;
  width: 1.5em; }

.slot1x1 {
  width: 0.75em;
  height: 0.75em; }

.slot1x2 {
  width: 1.5em;
  height: 0.75em; }

.slot1x2 .face.left, .slot1x2 .face.right {
  width: 50%; }

.slot2x4.down {
  height: 3em;
  width: 1.5em;
  float: left; }

.slot2x4.down .face.left, .slot2x4.up .face.left, .slot2x4.down .face.right, .slot2x4.up .face.right {
  width: 100%; }

.slot2x4.down .face.top, .slot2x4.up .face.top {
  height: 50%; }

.slot2x4.up {
  height: 3em;
  width: 1.5em;
  margin-top: -1.5em; }

.slot2x4 .face.top {
  background: #f68d69; }

.slot2x4 .face.left,
.slot2x4 .face.right {
  background: #f05948; }

.slot2x4 .face.front,
.slot2x4 .face.back, .slot2x4 .eg {
  background: #f04031; }

.slot2x2 .face.top {
  background: #67c18d; }

.slot2x2 .face.left,
.slot2x2 .face.right {
  background: #0ab26b; }

.slot2x2 .face.front,
.slot2x2 .face.back, .slot2x2 .eg {
  background: #02a24b; }

.slot4x8 .face.top {
  background: #7d71b4; }

.slot4x8 .face.left,
.slot4x8 .face.right {
  background: #7c52a1; }

.slot4x8 .face.front,
.slot4x8 .face.back, .slot4x8 .eg {
  background: #662d8f; }

.slot0x2 .face.top {
  background: #a8dbd5; }

.slot0x2 .face.left,
.slot0x2 .face.right {
  background: #89d0c8; }

.slot0x2 .face.front,
.slot0x2 .face.back, .slot0x2 .eg {
  background: #57b7aa; }

.slot1x1 .face.top {
  background: #fff200; }

.slot1x1 .face.left,
.slot1x1 .face.right {
  background: #ffde00; }

.slot1x1 .face.front,
.slot1x1 .face.back, .slot1x1 .eg {
  background: #ffcb06; }

.slot1x2 .face.top {
  background: #fbb675; }

.slot1x2 .face.left,
.slot1x2 .face.right {
  background: #f9a04a; }

.slot1x2 .face.front,
.slot1x2 .face.back, .slot1x2 .eg {
  background: #f6881f; }

.blackandwhite .slot .face.front, .blackandwhite .slot .face.back {
  background: #777777; }

.blackandwhite .slot .face.left, .blackandwhite .slot .face.right {
  background: #999999; }

.blackandwhite .slot .face.top {
  background: #bbbbbb; }

.antenna .face.front {
  background: #000000; }

.antenna .face.left {
  background: #202020; }

.antenna .face.top {
  background: #404040; }

.slot .faces {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100%;
  bottom: 0px;
  text-align: center; }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 2; }

.face img {
  width: 100%;
  height: 100%; }

.photo .face.front, .photo .face.top, .photo .face.left, .photo .face.right, .photo .face.back {
  background-image: url("foil.jpg");
  background-size: 100% 100%;
  background-repeat: none;
  border: 0px; }

.video .face.front, .video .face.top, .video .face.left, .video .face.right, .video .face.back {
  background-image: url("foil.jpg");
  background-size: 100% 100%;
  background-repeat: none;
  border: 0px; }

.threeD .satellite {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0% 0;
  -moz-transform-origin: 50% 0% 0;
  -ms-transform-origin: 50% 0% 0;
  -o-transform-origin: 50% 0% 0;
  transform-origin: 50% 0% 0;
  -webkit-transform: translateY(-1.5em) translateX(-0.375em) scale(1.24) rotateX(-35.264deg) rotateY(45deg);
  -moz-transform: translateY(-1.5em) translateX(-0.375em) scale(1.24) rotateX(-35.264deg) rotateY(45deg);
  -ms-transform: translateY(-1.5em) translateX(-0.375em) scale(1.24) rotateX(-35.264deg) rotateY(45deg);
  -o-transform: translateY(-1.5em) translateX(-0.375em) scale(1.24) rotateX(-35.264deg) rotateY(45deg);
  transform: translateY(-1.5em) translateX(-0.375em) scale(1.24) rotateX(-35.264deg) rotateY(45deg); }

.threeD .satellite.satellite-c {
  -webkit-transform: translateY(-1.5em) scale(1.24) rotateX(-35.264deg) rotateY(45deg);
  -moz-transform: translateY(-1.5em) scale(1.24) rotateX(-35.264deg) rotateY(45deg);
  -ms-transform: translateY(-1.5em) scale(1.24) rotateX(-35.264deg) rotateY(45deg);
  -o-transform: translateY(-1.5em) scale(1.24) rotateX(-35.264deg) rotateY(45deg);
  transform: translateY(-1.5em) scale(1.24) rotateX(-35.264deg) rotateY(45deg); }

.threeD .satellite.spin, .threeD .satellite.spin .hemisphere, .threeD .satellite.spin .face, .threeD .satellite.spin .solar-panels {
  -webkit-animation-duration: 36s;
  -moz-animation-duration: 36s;
  animation-duration: 36s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear; }

.threeD .satellite.spin, .threeD .satellite.spin .hemisphere.north, .threeD .satellite.spin .hemisphere.south {
  -webkit-animation-name: spin;
  -moz-animation-name: spin;
  animation-name: spin; }

.threeD .satellite-c.spin {
  -webkit-animation-name: spin-c;
  -moz-animation-name: spin-c;
  animation-name: spin-c; }

.threeD .satellite:hover .row {
  animation-name: none; }

.threeD .satellite.spin .face.front {
  -webkit-animation-delay: -13.5s;
  -moz-animation-delay: -13.5s;
  -o-animation-delay: -13.5s;
  animation-delay: -13.5s;
  -webkit-animation-name: spin-show;
  -moz-animation-name: spin-show;
  animation-name: spin-show; }

.threeD .satellite.spin .face.top {
  z-index: 3; }

.threeD .satellite.spin .face.left {
  -webkit-animation-delay: -4.5s;
  -moz-animation-delay: -4.5s;
  -o-animation-delay: -4.5s;
  animation-delay: -4.5s;
  -webkit-animation-name: spin-show;
  -moz-animation-name: spin-show;
  animation-name: spin-show; }

.threeD .satellite.spin .face.back {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  -o-animation-delay: 4.5s;
  animation-delay: 4.5s;
  -webkit-animation-name: spin-show;
  -moz-animation-name: spin-show;
  animation-name: spin-show; }

.threeD .satellite.spin .face.right {
  -webkit-animation-delay: -22.5s;
  -moz-animation-delay: -22.5s;
  -o-animation-delay: -22.5s;
  animation-delay: -22.5s;
  -webkit-animation-name: spin-show;
  -moz-animation-name: spin-show;
  animation-name: spin-show; }

.threeD .satellite.spin .solar-panels:nth-child(1) {
  -webkit-animation-delay: -4.5s;
  -moz-animation-delay: -4.5s;
  -o-animation-delay: -4.5s;
  animation-delay: -4.5s;
  -webkit-animation-name: tofront;
  -moz-animation-name: tofront;
  animation-name: tofront; }

.threeD .satellite.spin .solar-panels:nth-child(2), .threeD .satellite.spin .slot.up .face {
  -webkit-animation-delay: -4.5s;
  -moz-animation-delay: -4.5s;
  -o-animation-delay: -4.5s;
  animation-delay: -4.5s;
  -webkit-animation-name: toback;
  -moz-animation-name: toback;
  animation-name: toback; }

.threeD .satellite.spin .slot.down .hemisphere {
  -webkit-animation-delay: -4.5s;
  -moz-animation-delay: -4.5s;
  -o-animation-delay: -4.5s;
  animation-delay: -4.5s;
  -webkit-animation-name: tofront2;
  -moz-animation-name: tofront2;
  animation-name: tofront2; }

.threeD .satellite.spin .slot.up .hemisphere {
  -webkit-animation-delay: -4.5s;
  -moz-animation-delay: -4.5s;
  -o-animation-delay: -4.5s;
  animation-delay: -4.5s;
  -webkit-animation-name: toback2;
  -moz-animation-name: toback2;
  animation-name: toback2; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: translateY(-1.5em) translateX(-0.375em) scale(1.24) rotateX(-35.264deg) rotateY(405deg); } }
@-moz-keyframes spin {
  100% {
    -moz-transform: translateY(-1.5em) translateX(-0.375em) scale(1.24) rotateX(-35.264deg) rotateY(405deg); } }
@-o-keyframes spin {
  100% {
    -o-transform: translateY(-1.5em) translateX(-0.375em) scale(1.24) rotateX(-35.264deg) rotateY(405deg); } }
@keyframes spin {
  100% {
    transform: translateY(-1.5em) translateX(-0.375em) scale(1.24) rotateX(-35.264deg) rotateY(405deg); } }
@-webkit-keyframes spin-c {
  100% {
    -webkit-transform: translateY(-1.5em) scale(1.24) rotateX(-35.264deg) rotateY(405deg); } }
@-moz-keyframes spin-c {
  100% {
    -moz-transform: translateY(-1.5em) scale(1.24) rotateX(-35.264deg) rotateY(405deg); } }
@-o-keyframes spin-c {
  100% {
    -o-transform: translateY(-1.5em) scale(1.24) rotateX(-35.264deg) rotateY(405deg); } }
@keyframes spin-c {
  100% {
    transform: translateY(-1.5em) scale(1.24) rotateX(-35.264deg) rotateY(405deg); } }
@-webkit-keyframes tofront {
  0% {
    z-index: 300; }
  49.8% {
    z-index: 300; }
  50% {
    z-index: 2; }
  99.9% {
    z-index: 2; } }
@-moz-keyframes tofront {
  0% {
    z-index: 299; }
  49.8% {
    z-index: 299; }
  50% {
    z-index: 2; }
  99.9% {
    z-index: 2; } }
@-o-keyframes tofront {
  0% {
    z-index: 299; }
  49.8% {
    z-index: 299; }
  50% {
    z-index: 2; }
  99.9% {
    z-index: 2; } }
@keyframes tofront {
  0% {
    z-index: 299; }
  49.8% {
    z-index: 299; }
  50% {
    z-index: 2; }
  99.9% {
    z-index: 2; } }
@-webkit-keyframes toback2 {
  0% {
    z-index: 2; }
  49.8% {
    z-index: 2; }
  50% {
    z-index: 299; }
  99.9% {
    z-index: 299; } }
@-moz-keyframes toback2 {
  0% {
    z-index: 2; }
  49.8% {
    z-index: 2; }
  50% {
    z-index: 299; }
  99.9% {
    z-index: 299; } }
@-o-keyframes toback2 {
  0% {
    z-index: 2; }
  49.8% {
    z-index: 2; }
  50% {
    z-index: 299; }
  99.9% {
    z-index: 299; } }
@keyframes toback2 {
  0% {
    z-index: 2; }
  49.8% {
    z-index: 2; }
  50% {
    z-index: 299; }
  99.9% {
    z-index: 299; } }
@-webkit-keyframes tofront2 {
  0% {
    z-index: 300; }
  49.8% {
    z-index: 300; }
  50% {
    z-index: 1; }
  99.9% {
    z-index: 1; } }
@-moz-keyframes tofront2 {
  0% {
    z-index: 300; }
  49.8% {
    z-index: 300; }
  50% {
    z-index: 1; }
  99.9% {
    z-index: 1; } }
@-o-keyframes tofront2 {
  0% {
    z-index: 300; }
  49.8% {
    z-index: 300; }
  50% {
    z-index: 1; }
  99.9% {
    z-index: 1; } }
@keyframes tofront2 {
  0% {
    z-index: 300; }
  49.8% {
    z-index: 300; }
  50% {
    z-index: 1; }
  99.9% {
    z-index: 1; } }
@-webkit-keyframes toback {
  0% {
    z-index: 1; }
  49.8% {
    z-index: 1; }
  50% {
    z-index: 300; }
  99.9% {
    z-index: 300; } }
@-moz-keyframes toback {
  0% {
    z-index: 1; }
  49.8% {
    z-index: 1; }
  50% {
    z-index: 300; }
  99.9% {
    z-index: 300; } }
@-o-keyframes toback {
  0% {
    z-index: 1; }
  49.8% {
    z-index: 1; }
  50% {
    z-index: 300; }
  99.9% {
    z-index: 300; } }
@keyframes toback {
  0% {
    z-index: 1; }
  49.8% {
    z-index: 1; }
  50% {
    z-index: 300; }
  99.9% {
    z-index: 300; } }
@-webkit-keyframes spin-show {
  0% {
    opacity: 1; }
  49.9% {
    opacity: 1; }
  50% {
    opacity: 0; }
  99.9% {
    opacity: 0; } }
@-moz-keyframes spin-show {
  0% {
    opacity: 1; }
  49.9% {
    opacity: 1; }
  50% {
    opacity: 0; }
  99.9% {
    opacity: 0; } }
@-o-keyframes spin-show {
  0% {
    opacity: 1; }
  49.9% {
    opacity: 1; }
  50% {
    opacity: 0; }
  99.9% {
    opacity: 0; } }
@keyframes spin-show {
  0% {
    opacity: 1; }
  49.9% {
    opacity: 1; }
  50% {
    opacity: 0; }
  99.9% {
    opacity: 0; } }
.threeD .slot, .threeD .slot .faces {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.threeD .slot0x2 {
  -webkit-transform: translateZ(0.75em);
  -moz-transform: translateZ(0.75em);
  -ms-transform: translateZ(0.75em);
  -o-transform: translateZ(0.75em);
  transform: translateZ(0.75em); }

.threeD .slot1x1 {
  -webkit-transform: translateZ(0.75em);
  -moz-transform: translateZ(0.75em);
  -ms-transform: translateZ(0.75em);
  -o-transform: translateZ(0.75em);
  transform: translateZ(0.75em); }

.threeD .slot1x2 {
  -webkit-transform: translateZ(0.75em);
  -moz-transform: translateZ(0.75em);
  -ms-transform: translateZ(0.75em);
  -o-transform: translateZ(0.75em);
  transform: translateZ(0.75em); }

.threeD .slot2x2 {
  -webkit-transform: translateZ(1.5em);
  -moz-transform: translateZ(1.5em);
  -ms-transform: translateZ(1.5em);
  -o-transform: translateZ(1.5em);
  transform: translateZ(1.5em); }

.threeD .slot2x4 {
  -webkit-transform: translateZ(1.5em);
  -moz-transform: translateZ(1.5em);
  -ms-transform: translateZ(1.5em);
  -o-transform: translateZ(1.5em);
  transform: translateZ(1.5em); }

.threeD .slot4x8 {
  -webkit-transform: translateZ(3em);
  -moz-transform: translateZ(3em);
  -ms-transform: translateZ(3em);
  -o-transform: translateZ(3em);
  transform: translateZ(3em); }

.threeD .face.top {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg); }

.threeD .face.left {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg); }

.threeD .face.right, .threeD .slot2x4.down .face.right, .threeD .slot2x4.up .face.right {
  -webkit-transform: translateX(1.5em) rotateY(90deg);
  -moz-transform: translateX(1.5em) rotateY(90deg);
  -ms-transform: translateX(1.5em) rotateY(90deg);
  -o-transform: translateX(1.5em) rotateY(90deg);
  transform: translateX(1.5em) rotateY(90deg); }

.threeD .slot1x1 .face.right {
  -webkit-transform: translateX(0.75em) rotateY(90deg);
  -moz-transform: translateX(0.75em) rotateY(90deg);
  -ms-transform: translateX(0.75em) rotateY(90deg);
  -o-transform: translateX(0.75em) rotateY(90deg);
  transform: translateX(0.75em) rotateY(90deg); }

.threeD .slot2x4 .face.right {
  -webkit-transform: translateX(3em) rotateY(90deg);
  -moz-transform: translateX(3em) rotateY(90deg);
  -ms-transform: translateX(3em) rotateY(90deg);
  -o-transform: translateX(3em) rotateY(90deg);
  transform: translateX(3em) rotateY(90deg); }

.threeD .slot4x8 .face.right {
  -webkit-transform: translateX(6em) rotateY(90deg);
  -moz-transform: translateX(6em) rotateY(90deg);
  -ms-transform: translateX(6em) rotateY(90deg);
  -o-transform: translateX(6em) rotateY(90deg);
  transform: translateX(6em) rotateY(90deg); }

.threeD .face.back {
  -webkit-transform: translateZ(-3em);
  -moz-transform: translateZ(-3em);
  -ms-transform: translateZ(-3em);
  -o-transform: translateZ(-3em);
  transform: translateZ(-3em); }

.threeD .satellite-c .face.back {
  -webkit-transform: translateZ(-3em);
  -moz-transform: translateZ(-3em);
  -ms-transform: translateZ(-3em);
  -o-transform: translateZ(-3em);
  transform: translateZ(-3em); }

.threeD .slot4x8 .face.back {
  -webkit-transform: translateZ(-6em);
  -moz-transform: translateZ(-6em);
  -ms-transform: translateZ(-6em);
  -o-transform: translateZ(-6em);
  transform: translateZ(-6em); }

.threeD .slot0x2 .face.back, .threeD .slot1x1 .face.back, .threeD .slot1x2 .face.back {
  -webkit-transform: translateZ(-1.5em);
  -moz-transform: translateZ(-1.5em);
  -ms-transform: translateZ(-1.5em);
  -o-transform: translateZ(-1.5em);
  transform: translateZ(-1.5em); }

.solar-panels {
  position: absolute;
  display: block;
  width: 15.75em;
  margin-top: 3em; }

.solar-panels:nth-child(1) li:last-child:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5em 0 1.5em 1.5em;
  border-color: transparent transparent transparent #202020;
  line-height: 0px;
  _border-color: #000000 #000000 #000000 #202020;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  right: 0.75em; }

.solar-panels:nth-child(2) li:last-child:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5em 1.5em 1.5em 0;
  border-color: transparent #202020 transparent transparent;
  line-height: 0px;
  _border-color: #000000 #202020 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  left: 0.75em; }

.solar-panels:nth-child(1) {
  z-index: 100;
  margin-right: 1.5em;
  right: 50%; }

.solar-panels:nth-child(2) {
  z-index: 1;
  margin-left: 1.5em;
  left: 50%; }

.solar-panels .label {
  display: none; }

.solar-panels ol {
  display: block;
  margin: 0px;
  margin-top: -2px;
  padding: 0px;
  border-top: 0.3em solid #202020; }

.solar-panels ol li {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  margin-top: -1.65em;
  width: 3em;
  height: 3em; }

.solar-panels:nth-child(1) ol {
  float: right; }

.solar-panels:nth-child(2) ol {
  float: left; }

.solar-panels:nth-child(1) ol li {
  float: left; }

.solar-panels:nth-child(2) ol li {
  float: right; }

.solar-panels:nth-child(1) ol li:last-child {
  margin-right: 2.25em; }

.solar-panels:nth-child(2) ol li:last-child {
  margin-left: 2.25em; }

.radio .face {
  display: none; }

.threeD .row .radio {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/* Start of hemisphere CSS */
.slot4x8 .hemisphere .inner, .slot4x8 .hemisphere .dome {
  font-size: 6em; }

.slot2x4 .hemisphere .inner, .slot2x4 .hemisphere .dome {
  font-size: 3em; }

.slot1x2 .hemisphere .inner, .slot1x2 .hemisphere .dome {
  font-size: 3em; }

.hemisphere {
  width: 100%;
  height: 200%;
  position: absolute;
  margin: auto;
  top: 0%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.hemisphere.south {
  top: -100%; }

.hemisphere.east, .hemisphere.west {
  height: 100%; }

.slot4x8 .hemisphere {
  top: 0%; }

.hemisphere, .dome, .inner {
  display: inline-block; }

.dome, .inner {
  width: 100%; }

.dome, .inner {
  background-color: #ffffff; }

.hemisphere .inner {
  border: 2px solid white; }

.radar .hemisphere .inner {
  border: 2px solid #777777; }

.satellite-c .inner {
  border: 1px solid white; }

.north .inner, .west .inner {
  border-color: #ccc; }

.dome {
  height: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.east .dome, .west .dome {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%; }

.north .dome {
  -webkit-box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.4);
  box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.4);
  top: 0%;
  border-radius: 1em 1em 0 0; }

.south .dome {
  -webkit-box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.4);
  box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.4);
  border-radius: 0 0 1.5em 1.5em; }

.radar .hemisphere .dome, .radar .hemisphere .inner {
  background-color: #777777; }

.threeD .south .dome {
  -webkit-box-shadow: 0.165em 0.15em 6px -10px rgba(0, 0, 0, 0.3), inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0.165em 0.15em 6px -10px rgba(0, 0, 0, 0.3), inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.4);
  box-shadow: 0.165em 0.15em 6px -10px rgba(0, 0, 0, 0.3), inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.4);
  border-radius: 0 0 1.5em 1.5em; }

.east .dome {
  -webkit-box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.25);
  box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.25);
  border-radius: 0 1.5em 1.5em 0; }

.west .dome {
  -webkit-box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.25);
  box-shadow: inset -0.3em -0.3em 0.3em -0.075em rgba(0, 0, 0, 0.25);
  left: 0%;
  border-radius: 1.5em 0 0 1.5em; }

.hemisphere .inner, .dome {
  position: absolute;
  margin: 0px;
  top: 50%;
  left: 0; }

.hemisphere .inner, .dome, .hemisphere .inner:after {
  -webkit-transition: height 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
  -moz-transition: height 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
  -ms-transition: height 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
  -o-transition: height 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
  transition: height 0.3s ease, width 0.3s ease, border-radius 0.3s ease; }

.hemisphere .inner {
  border-radius: 100%; }

.hemisphere .inner:after {
  width: 0.06em;
  height: 0.225em;
  background: #606060;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -2px;
  bottom: 0%; }

.radar .hemisphere .inner:after {
  background: #202020; }

.north .inner:after {
  border-radius: 0;
  border-bottom-left-radius: 100%;
  height: 0.1em;
  border-bottom-right-radius: 100%;
  top: 0%;
  bottom: auto; }

.threeD .inner:after {
  height: 0.3em; }

.north .inner, .south .inner {
  height: 0%; }

.threeD .north .inner, .threeD .south .inner {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
  height: 50%; }

.east .inner, .west .inner {
  width: 0%;
  height: 100%;
  top: 0%; }

.east .inner, .west .inner {
  width: 200%;
  z-index: 100;
  left: 0%; }

.east .inner {
  -webkit-transform: translateZ(-0.5em) translateX(-50%) rotateY(90deg);
  -moz-transform: translateZ(-0.5em) translateX(-50%) rotateY(90deg);
  -ms-transform: translateZ(-0.5em) translateX(-50%) rotateY(90deg);
  -o-transform: translateZ(-0.5em) translateX(-50%) rotateY(90deg);
  transform: translateZ(-0.5em) translateX(-50%) rotateY(90deg); }

.west .inner {
  -webkit-transform: translateZ(-0.5em) rotateY(-90deg);
  -moz-transform: translateZ(-0.5em) rotateY(-90deg);
  -ms-transform: translateZ(-0.5em) rotateY(-90deg);
  -o-transform: translateZ(-0.5em) rotateY(-90deg);
  transform: translateZ(-0.5em) rotateY(-90deg); }

/* The northerly dish (pointing down) doesn't ever show its inside */
.north .inner, .threeD .no-inside .inner {
  height: 0px;
  display: none; }

.threeD .north .dome, .threeD .north.no-inside .dome {
  height: 75%;
  border-radius: 1em 1em 1em 1em / 0.85em 0.85em 0.75em 0.75em; }

.threeD .south.no-inside .dome {
  height: 65%;
  top: 35%;
  border-radius: 1em 1em 1em 1em / 0.75em 0.75em 0.85em 0.85em; }

.threeD .east.no-inside .dome {
  width: 85%;
  left: 15%;
  border-radius: 0.75em 0.85em 0.85em 0.75em / 1em 1em 1em 1em; }

.threeD .west .dome {
  width: 100%;
  border-radius: 0.85em 0.75em 0.75em 0.85em / 1em 1em 1em 1em; }

.south .inner {
  -webkit-box-shadow: inset 0.3em -0.1em 0.2em -0.05em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0.3em -0.1em 0.2em -0.05em rgba(0, 0, 0, 0.2);
  box-shadow: inset 0.3em -0.1em 0.2em -0.05em rgba(0, 0, 0, 0.2); }

.north .inner {
  -webkit-box-shadow: inset 0.3em 0.1em 0.2em -0.05em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0.3em 0.1em 0.2em -0.05em rgba(0, 0, 0, 0.2);
  box-shadow: inset 0.3em 0.1em 0.2em -0.05em rgba(0, 0, 0, 0.2); }

.east .inner {
  -webkit-box-shadow: inset 0.15em 0.1em 0.2em -0.1em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0.15em 0.1em 0.2em -0.1em rgba(0, 0, 0, 0.2);
  box-shadow: inset 0.15em 0.1em 0.2em -0.1em rgba(0, 0, 0, 0.2); }

.west .inner {
  -webkit-box-shadow: inset 0.25em 0.2em 0.2em -0.05em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0.25em 0.2em 0.2em -0.05em rgba(0, 0, 0, 0.2);
  box-shadow: inset 0.25em 0.2em 0.2em -0.05em rgba(0, 0, 0, 0.2); }

.threeD .slot2x4 .hemisphere.north, .threeD .slot2x4 .hemisphere.south {
  -webkit-transform: translateZ(-1.5em) rotateY(-45deg) rotateX(35.264deg);
  -moz-transform: translateZ(-1.5em) rotateY(-45deg) rotateX(35.264deg);
  -ms-transform: translateZ(-1.5em) rotateY(-45deg) rotateX(35.264deg);
  -o-transform: translateZ(-1.5em) rotateY(-45deg) rotateX(35.264deg);
  transform: translateZ(-1.5em) rotateY(-45deg) rotateX(35.264deg); }

.threeD .slot2x4 .hemisphere.east, .threeD .slot2x4 .hemisphere.west {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.threeD .slot2x4 .hemisphere.east .dome, .threeD .slot2x4 .hemisphere.west .dome {
  -webkit-transform: translateX(0.1em) translateZ(-0.5em) rotateX(45deg);
  -moz-transform: translateX(0.1em) translateZ(-0.5em) rotateX(45deg);
  -ms-transform: translateX(0.1em) translateZ(-0.5em) rotateX(45deg);
  -o-transform: translateX(0.1em) translateZ(-0.5em) rotateX(45deg);
  transform: translateX(0.1em) translateZ(-0.5em) rotateX(45deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.threeD .slot2x4 .hemisphere.west .dome {
  -webkit-transform: translateZ(-0.5em) rotateX(45deg);
  -moz-transform: translateZ(-0.5em) rotateX(45deg);
  -ms-transform: translateZ(-0.5em) rotateX(45deg);
  -o-transform: translateZ(-0.5em) rotateX(45deg);
  transform: translateZ(-0.5em) rotateX(45deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.threeD .slot4x8 .hemisphere.north, .threeD .slot4x8 .hemisphere.south {
  -webkit-transform: translateZ(-3em) rotateY(-45deg) rotateX(35.264deg);
  -moz-transform: translateZ(-3em) rotateY(-45deg) rotateX(35.264deg);
  -ms-transform: translateZ(-3em) rotateY(-45deg) rotateX(35.264deg);
  -o-transform: translateZ(-3em) rotateY(-45deg) rotateX(35.264deg);
  transform: translateZ(-3em) rotateY(-45deg) rotateX(35.264deg); }

.antenna .face {
  border: 0px; }

.aerial {
  width: 4.5em;
  height: 0;
  border: 0.15em solid #404040;
  position: absolute;
  z-index: 100; }

.aerial1 {
  border-left: 0px;
  border-bottom: 0px;
  right: 0px;
  bottom: 0px; }

.aerial2 {
  border-right: 0px;
  border-top: 0px;
  left: 0px;
  bottom: 0px; }

.threeD .aerial {
  height: 4.5em; }

.threeD .aerial1 {
  -webkit-transform: rotateX(90deg) translateX(-2.85em) translateY(3.555em);
  -moz-transform: rotateX(90deg) translateX(-2.85em) translateY(3.555em);
  -ms-transform: rotateX(90deg) translateX(-2.85em) translateY(3.555em);
  -o-transform: rotateX(90deg) translateX(-2.85em) translateY(3.555em);
  transform: rotateX(90deg) translateX(-2.85em) translateY(3.555em); }

.threeD .aerial2 {
  -webkit-transform: rotateX(90deg) translateX(-1.5em) translateY(-0.75em);
  -moz-transform: rotateX(90deg) translateX(-1.5em) translateY(-0.75em);
  -ms-transform: rotateX(90deg) translateX(-1.5em) translateY(-0.75em);
  -o-transform: rotateX(90deg) translateX(-1.5em) translateY(-0.75em);
  transform: rotateX(90deg) translateX(-1.5em) translateY(-0.75em); }

.threeD .satellite.spin .slot2x4 .hemisphere.north, .threeD .satellite.spin .slot2x4 .hemisphere.south {
  -webkit-animation-name: antispin;
  -moz-animation-name: antispin;
  animation-name: antispin;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.threeD .satellite.spin .slot4x8 .hemisphere.north, .threeD .satellite.spin .slot4x8 .hemisphere.south {
  -webkit-animation-name: antispin_big;
  -moz-animation-name: antispin_big;
  animation-name: antispin_big;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

@-webkit-keyframes antispin {
  100% {
    -webkit-transform: translateZ(-1.5em) rotateY(-405deg) rotateX(35.264deg); } }
@-moz-keyframes antispin {
  100% {
    -moz-transform: translateZ(-1.5em) rotateY(-405deg) rotateX(35.264deg); } }
@keyframes antispin {
  100% {
    transform: translateZ(-1.5em) rotateY(-405deg) rotateX(35.264deg); } }
@-webkit-keyframes antispin_big {
  100% {
    -webkit-transform: translateZ(-3em) rotateY(-405deg) rotateX(35.264deg); } }
@-moz-keyframes antispin_big {
  100% {
    -moz-transform: translateZ(-3em) rotateY(-405deg) rotateX(35.264deg); } }
@keyframes antispin_big {
  100% {
    transform: translateZ(-3em) rotateY(-405deg) rotateX(35.264deg); } }
/* End of Hemisphere CSS */
.slot2x4.texture.down .face.left,
.slot2x4.texture.up .face.right,
.slot2x4.texture.upwards .face.top {
  background: url("../images/foil_4x4.png");
  background-size: 100% 100%; }

.slot2x4.texture.down .face.top,
.slot2x4.texture.up .face.top,
.slot2x2.texture .face.top {
  background: url("../images/foil_4x2.png");
  background-size: 100% 100%; }

.slot2x2.texture .face.right,
.slot2x2.texture .face.back {
  background: url("../images/foil_2x2.png");
  background-size: 100% 100%; }

.slot2x2.texture .face.left,
.slot2x4.texture.upwards .face.left,
.slot2x4.texture.upwards .face.right,
.slot2x4.texture.downwards .face.left,
.slot2x4.texture.downwards .face.right,
.slot2x4.texture.down .face.back,
.slot2x4.texture.up .face.back,
.slot2x4.texture .face.back {
  background: url("../images/foil_2x4.png");
  background-size: 100% 100%; }

.texture .face.front {
  background: url("../images/foil_2x2.png"); }

.satellite.solar-fixed .row:first-child .solar-right .face.top {
  border-right: 4px solid #00a2d3; }

.satellite.solar-fixed .solar-top .face.left {
  border-top: 4px solid #00a2d3; }

.satellite.solar-fixed .solar-top .face.front {
  border-top: 4px solid #00a2d3; }

.satellite .solar-panel, .slot4x4, .satellite.solar-fixed .solar-left .face.left, .satellite.solar-fixed .solar-right .face.right, .satellite.solar-fixed .solar-top .face.top, .satellite.solar-fixed .solar-back .face.back, .slot4x4 {
  background-color: #00a2d3; }

.satellite.solar-fixed .solar-left .face.left, .satellite.solar-fixed .solar-top .face.top, .satellite.solar-fixed .solar-back .face.back, .satellite.solar-fixed .solar-right .face.right, .satellite .solar-panel, .slot4x4 {
  background-image: -webkit-linear-gradient(#e1f4fe 1px, transparent 1px), -webkit-linear-gradient(0deg, #e1f4fe 1px, transparent 1px), -webkit-linear-gradient(#48c7e9 1px, transparent 1px), -webkit-linear-gradient(0deg, #48c7e9 1px, transparent 1px);
  background-image: linear-gradient(#e1f4fe 1px, transparent 1px), linear-gradient(90deg, #e1f4fe 1px, transparent 1px), linear-gradient(#48c7e9 1px, transparent 1px), linear-gradient(90deg, #48c7e9 1px, transparent 1px);
  background-size: 1.5em 1.5em, 1.5em 1.5em, 0.375em 0.375em, 0.375em 0.375em;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  box-sizing: border-box; }

.satellite.solar-fixed .solar-left .face.front, .satellite.solar-fixed .row:first-child .solar-left .face.top {
  border-left: 4px solid #00a2d3; }

.satellite.solar-fixed .solar-right .face.front {
  border-right: 4px solid #00a2d3; }

.threeD .satellite.solar-fixed .solar-left .face.front,
.threeD .satellite.solar-fixed .row:first-child .solar-left .face.top,
.threeD .satellite.solar-fixed .solar-right .face.front,
.threeD .satellite.solar-fixed .solar-top .face.left,
.threeD .satellite.solar-fixed .solar-top .face.front {
  border: 1px solid rgba(255, 255, 255, 0.3); }

.threeD .row, .threeD .solar-panels {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.bg2x2 {
  background-color: #02a24b; }

.bg2x4 {
  background-color: #f04031; }

.bg4x4 {
  background-color: #00a2d3; }

.bg4x8 {
  background-color: #662d8f; }

.bg0x2 {
  background-color: #57b7aa; }

.bg1x2 {
  background-color: #f6881f; }

.bg1x1 {
  background-color: #ffcb06; }

/* Solar System Styles */
ul.orrery {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  -webkit-transition: all 0.09s ease-in;
  -moz-transition: all 0.09s ease-in;
  -ms-transition: all 0.09s ease-in;
  -o-transition: all 0.09s ease-in;
  transition: all 0.09s ease-in;
  overflow: hidden;
  z-index: 0;
  /*background-color: $black-2;*/ }

ul.orrery li {
  text-indent: -9999px;
  display: block;
  position: absolute;
  border: 0.1em dashed #e1f4fe;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

ul.orrery li.orbit span {
  color: transparent;
  display: block;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  left: 50%;
  margin-left: -0.25em;
  top: -0.25em;
  background: #777777; }

ul.orrery li.orbit span:before {
  left: 0px;
  margin-left: -0.75em; }

ul.orrery li.orbit span:after {
  right: 0px;
  margin-right: -0.75em; }

ul.orrery li.orbit span:after, ul.orrery li.orbit span:before {
  position: absolute;
  top: 0px;
  content: "";
  width: 0.75em;
  height: 0.25em;
  display: block;
  background-color: #00a2d3;
  background-image: -webkit-linear-gradient(#e1f4fe 1px, transparent 1px), -webkit-linear-gradient(0deg, #e1f4fe 1px, transparent 1px), -webkit-linear-gradient(#48c7e9 1px, transparent 1px), -webkit-linear-gradient(0deg, #48c7e9 1px, transparent 1px);
  background-image: linear-gradient(#e1f4fe 1px, transparent 1px), linear-gradient(90deg, #e1f4fe 1px, transparent 1px), linear-gradient(#48c7e9 1px, transparent 1px), linear-gradient(90deg, #48c7e9 1px, transparent 1px);
  background-size: 1.5em 1.5em, 1.5em 1.5em, 0.375em 0.375em, 0.375em 0.375em;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  box-sizing: border-box; }

ul.orrery li.body {
  width: 2em;
  height: 2em;
  margin-left: -1em;
  margin-top: -1em;
  border: none;
  background: #02a24b;
  background-image: url("../images/earth-northern.png");
  background-size: 100% 100%;
  z-index: 100; }

ul.orrery li.LEO {
  width: 3em;
  height: 3em;
  margin-top: -1.5em;
  margin-left: -1.5em;
  border-color: #bbbbbb; }

ul.orrery li.LEO span {
  left: 1.25em; }

ul.orrery li.MEO {
  width: 5em;
  height: 5em;
  margin-top: -2.5em;
  margin-left: -2.5em;
  border-color: #67c18d; }

ul.orrery li.MEO span {
  left: 2.25em; }

ul.orrery li.HEO {
  width: 9.4em;
  height: 9.4em;
  margin-top: -4.7em;
  margin-left: -6.58em;
  border-color: #f04031; }

ul.orrery li.HEO span {
  left: 4.45em; }

ul.orrery li.GEO {
  width: 24em;
  height: 24em;
  margin-top: -12em;
  margin-left: -12em;
  border-color: #00b9e4; }

ul.orrery li.GEO span {
  left: 11.75em; }

ul.orrery li.orbit:hover,
ul.orrery li.orbit.selected {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-width: 0.2em; }

ul.orrery li.orbit:hover span,
ul.orrery li.orbit.selected span {
  width: 1em;
  height: 1em;
  top: -0.6em; }

ul.orrery li.orbit:hover span:before,
ul.orrery li.orbit:hover span:after,
ul.orrery li.orbit.selected span:before,
ul.orrery li.orbit.selected span:after {
  font-size: 2em; }

/* CSS3 Animations */
ul.orrery li {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: orbit;
  -moz-animation-name: orbit;
  animation-name: orbit; }

ul.orrery li.LEO {
  -webkit-animation-duration: 7.5s;
  -moz-animation-duration: 7.5s;
  animation-duration: 7.5s;
  -webkit-animation-delay: -0.1s;
  -moz-animation-delay: -0.1s;
  -o-animation-delay: -0.1s;
  animation-delay: -0.1s; }

ul.orrery li.MEO {
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-delay: -0.1s;
  -moz-animation-delay: -0.1s;
  -o-animation-delay: -0.1s;
  animation-delay: -0.1s; }

ul.orrery li.HEO {
  -webkit-animation-duration: 60s;
  -moz-animation-duration: 60s;
  animation-duration: 60s;
  -webkit-animation-delay: -0.1s;
  -moz-animation-delay: -0.1s;
  -o-animation-delay: -0.1s;
  animation-delay: -0.1s; }

ul.orrery li.GEO, ul.orrery li.body {
  -webkit-animation-duration: 120s;
  -moz-animation-duration: 120s;
  animation-duration: 120s;
  -webkit-animation-delay: -0.1s;
  -moz-animation-delay: -0.1s;
  -o-animation-delay: -0.1s;
  animation-delay: -0.1s; }

ul.orrery li.GEO {
  -webkit-animation-delay: -30s;
  -moz-animation-delay: -30s;
  -o-animation-delay: -30s;
  animation-delay: -30s; }

@-webkit-keyframes orbit {
  100% {
    -webkit-transform: rotate(-360deg); } }
@-moz-keyframes orbit {
  100% {
    -moz-transform: rotate(-360deg); } }
@-o-keyframes orbit {
  100% {
    -o-transform: rotate(-360deg); } }
@keyframes orbit {
  100% {
    transform: rotate(-360deg); } }
@media only screen and (max-width: 800px) {
  .table, .table-row, .row-flex-wrap, .row-flex, .row-flex > div[class*="col-"], .flex-col, .flex-grow {
    display: block;
    height: auto;
    flex: 0 0 auto; }

  .col-60, .col-40, .col-50 {
    width: 100%; }

  .list {
    margin-left: 0;
    position: relative;
    margin-top: 1.5em; }

  nav {
    position: relative; }

  ul.orrery {
    height: 400px; }

  .holder {
    display: block; }

  #type .holder {
    width: 100%; }

  .satellite-holder {
    display: block;
    height: auto;
    max-height: auto; }

  section#type .holder {
    width: 100%; }

  .padded {
    padding: 1em; } }

/*# sourceMappingURL=style.css.map */
