.satellite {
	font-size: 1em;
	padding: $s * 2;
	position: relative;
	text-align: left;
	margin: auto;
}

/* Change box model for satellite */
.satellite {
	@include box-sizing(content-box);
	@include transition(all $trans ease);
}
.satellite-l { width: $s * 4; padding: $s * 1; }
.satellite-m { width: $s * 2; padding: $s * 1.5; }
.satellite-s { width: $s * 2; padding: $s * 1.5; }
.satellite-c { width: $s; padding: $s * 2; }
.row, .solar-panels { 
	display: block;
	position: relative;
	height: $s;
}
.rowbig { height: $s * 2; }
.row:nth-child(1){ z-index: 60; }
.row .slot:nth-child(1) { z-index: 59; }
.row .slot:nth-child(2) { z-index: 58; }
.row .slot:nth-child(3) { z-index: 57; }
.row .slot:nth-child(4) { z-index: 56; }
.row:nth-child(2){ z-index: 50; }
.row:nth-child(3){ z-index: 40; }
.row:nth-child(4){ z-index: 30; }
.row:nth-child(5){ z-index: 20; }
.row:nth-child(6){ z-index: 10; }
.row:nth-child(7){ z-index: 1; }
.satellite-c .row { height: $s * 0.5; }
.satellite-c .rowflat { height: $s * 0.5* 0.1; }
.slot {
	position: relative;
	display: inline-block;
	width: $s;
	height: $s;
}
.slot1 { left: 0; position: absolute; }
.slot2 { left: $s; position: absolute; }
.slot3 { left: $s*2; position: absolute; }
.slot4 { left: $s*3; position: absolute; }
.satellite-c .slot2 { left: $s*0.5; }

.slot2x2 { width: $s; height: $s; }
.slot2x4 { width: $s * 2; height: $s; }
.slot2x4 .face.left, .slot2x4 .face.right { width: 50%; }
.slot4x2 { height: $s * 2; }
.slot4x2 .face.top { height: 50%; }
.slot3x3 { height: $s * 2; width: $s * 2; }
.slot4x4 { height: $s * 2; width: $s * 2; }
.slot4x8 { width: $s * 4; height: $s * 2; }
.slot4x8 .face.left, .slot4x8 .face.right { width: 25%; }
.slot0x2 { height: $s * 0.1; width: $s; }
.slot1x1 { width: $s * 0.5; height: $s * 0.5; }
.slot1x2 { width: $s * 1; height: $s * 0.5; }
.slot1x2 .face.left, .slot1x2 .face.right { width: 50%; }
.slot2x4.down { height: $s * 2; width: $s; float: left; }
.slot2x4.down .face.left,.slot2x4.up .face.left, .slot2x4.down .face.right,.slot2x4.up .face.right { width: 100%; }
.slot2x4.down .face.top,.slot2x4.up .face.top { height: 50%; }
.slot2x4.up { height: $s * 2; width: $s; margin-top: -$s; }

.slot2x4 .face.top { background: $red-3; }
.slot2x4 .face.left,
.slot2x4 .face.right { background: $red-2; }
.slot2x4 .face.front,
.slot2x4 .face.back, .slot2x4 .eg { background: $red-1; }

.slot2x2 .face.top { background: $green-3; }
.slot2x2 .face.left,
.slot2x2 .face.right { background: $green-2; }
.slot2x2 .face.front,
.slot2x2 .face.back, .slot2x2 .eg { background: $green-1; }

.slot4x8 .face.top { background: $purple-3; }
.slot4x8 .face.left,
.slot4x8 .face.right { background: $purple-2; }
.slot4x8 .face.front,
.slot4x8 .face.back, .slot4x8 .eg { background: $purple-1; }

.slot0x2 .face.top { background: $turquoise-3; }
.slot0x2 .face.left,
.slot0x2 .face.right { background: $turquoise-2; }
.slot0x2 .face.front,
.slot0x2 .face.back, .slot0x2 .eg { background: $turquoise-1; }

.slot1x1 .face.top { background: $yellow-3; }
.slot1x1 .face.left,
.slot1x1 .face.right { background: $yellow-2; }
.slot1x1 .face.front,
.slot1x1 .face.back, .slot1x1 .eg { background: $yellow-1; }

.slot1x2 .face.top { background: $orange-3; }
.slot1x2 .face.left,
.slot1x2 .face.right { background: $orange-2; }
.slot1x2 .face.front,
.slot1x2 .face.back, .slot1x2 .eg { background: $orange-1; }

.blackandwhite .slot .face.front, .blackandwhite .slot .face.back { background: $grey-1; }
.blackandwhite .slot .face.left, .blackandwhite .slot .face.right { background: $grey-2; }
.blackandwhite .slot .face.top { background: $grey-3; }

.antenna .face.front { background: $black-1; }
.antenna .face.left { background: $black-2; }
.antenna .face.top { background: $black-3; }

.slot .faces {
	position: absolute;
	right: 0px;
	width: 100%;
	height: 100%;
	bottom: 0px;
	text-align: center;
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	@include box-sizing(border-box);
	border: 1px solid rgba(255,255,255,0.3);
	@include transform-origin(0 0);
	z-index: 2;
}

.face img { width: 100%; height: 100%; }
.photo .face.front, .photo .face.top, .photo .face.left, .photo .face.right, .photo .face.back { background-image: url('foil.jpg'); background-size: 100% 100%; background-repeat: none; border: 0px; }
.video .face.front, .video .face.top, .video .face.left, .video .face.right, .video .face.back { background-image: url('foil.jpg'); background-size: 100% 100%; background-repeat: none; border: 0px; }


.threeD .satellite {
	@include transform-style( preserve-3d );
	@include transform-origin( 50% 0% 0 );
	@include transform( $transform_y_neg_l $transform_x_neg_s $scale $transform_rot_x_neg_iso $transform_rot_y_pos_iso );
}

.threeD .satellite.satellite-c {
	@include transform( $transform_y_neg_l $scale $transform_rot_x_neg_iso $transform_rot_y_pos_iso );
}
.threeD .satellite.spin, .threeD .satellite.spin .hemisphere, .threeD .satellite.spin .face, .threeD .satellite.spin .solar-panels {
	@include animation-duration( $rot );
	@include animation-iteration-count( infinite );
	@include animation-timing-function( linear );
}
.threeD .satellite.spin, .threeD .satellite.spin .hemisphere.north, .threeD .satellite.spin .hemisphere.south {
	@include animation-name( spin );
}
.threeD .satellite-c.spin {
	@include animation-name( spin-c );
}
.threeD .satellite:hover .row {
	animation-name: none;
}
.threeD .satellite.spin .face.front {
	@include animation-delay( -$rot*0.375 );
	@include animation-name( spin-show );
}
.threeD .satellite.spin .face.top {
	z-index:3;
}
.threeD .satellite.spin .face.left {
	@include animation-delay( -$rot*0.125 );
	@include animation-name( spin-show );
}
.threeD .satellite.spin .face.back {
	@include animation-delay( $rot*0.125 );
	@include animation-name( spin-show );
}
.threeD .satellite.spin .face.right {
	@include animation-delay( -$rot*0.625 );
	@include animation-name( spin-show );
}
.threeD .satellite.spin .solar-panels:nth-child(1) {
	@include animation-delay( -$rot*0.125 );
	@include animation-name( tofront );
}
.threeD .satellite.spin .solar-panels:nth-child(2),.threeD .satellite.spin .slot.up .face {
	@include animation-delay( -$rot*0.125 );
	@include animation-name( toback );
}
.threeD .satellite.spin .slot.down .hemisphere {
	@include animation-delay( -$rot*0.125 );
	@include animation-name( tofront2 );
}
.threeD .satellite.spin .slot.up .hemisphere {
	@include animation-delay( -$rot*0.125 );
	@include animation-name( toback2 );
}
@-webkit-keyframes spin { 100% { -webkit-transform: $transform_y_neg_l $transform_x_neg_s $scale $spin; } }
@-moz-keyframes spin { 100% { -moz-transform: $transform_y_neg_l $transform_x_neg_s $scale $spin;  } }
@-o-keyframes spin { 100% { -o-transform: $transform_y_neg_l $transform_x_neg_s $scale $spin;  } }
@keyframes spin { 100% { transform: $transform_y_neg_l $transform_x_neg_s $scale  $spin  } }

@-webkit-keyframes spin-c { 100% { -webkit-transform: $transform_y_neg_l $scale $spin; } }
@-moz-keyframes spin-c { 100% { -moz-transform: $transform_y_neg_l $scale $spin; } }
@-o-keyframes spin-c { 100% { -o-transform: $transform_y_neg_l $scale $spin; } }
@keyframes spin-c { 100% { transform: $transform_y_neg_l $scale $spin; } }

@-webkit-keyframes tofront { 0% { z-index: 300; } 49.8% { z-index: 300; } 50% { z-index: 2; } 99.9% { z-index: 2; } }
@-moz-keyframes tofront { 0% { z-index: 299; } 49.8% { z-index: 299; } 50% { z-index: 2; } 99.9% { z-index: 2; } }
@-o-keyframes tofront { 0% { z-index: 299; } 49.8% { z-index: 299; } 50% { z-index: 2; } 99.9% { z-index: 2; } }
@keyframes tofront { 0% { z-index: 299; } 49.8% { z-index: 299; } 50% { z-index: 2; } 99.9% { z-index: 2; } }

@-webkit-keyframes toback2 { 0% { z-index: 2; } 49.8% { z-index: 2; } 50% { z-index: 299; } 99.9% { z-index: 299; } }
@-moz-keyframes toback2 { 0% { z-index: 2; } 49.8% { z-index: 2; } 50% { z-index: 299; } 99.9% { z-index: 299; } }
@-o-keyframes toback2 { 0% { z-index: 2; } 49.8% { z-index: 2; } 50% { z-index: 299; } 99.9% { z-index: 299; } }
@keyframes toback2 { 0% { z-index: 2; } 49.8% { z-index: 2; } 50% { z-index: 299; } 99.9% { z-index: 299; } }

@-webkit-keyframes tofront2 { 0% { z-index: 300; } 49.8% { z-index: 300; } 50% { z-index: 1; } 99.9% { z-index: 1; } }
@-moz-keyframes tofront2 { 0% { z-index: 300; } 49.8% { z-index: 300; } 50% { z-index: 1; } 99.9% { z-index: 1; } }
@-o-keyframes tofront2 { 0% { z-index: 300; } 49.8% { z-index: 300; } 50% { z-index: 1; } 99.9% { z-index: 1; } }
@keyframes tofront2 { 0% { z-index: 300; } 49.8% { z-index: 300; } 50% { z-index: 1; } 99.9% { z-index: 1; } }

@-webkit-keyframes toback { 0% { z-index: 1; } 49.8% { z-index: 1; } 50% { z-index: 300; } 99.9% { z-index: 300; } }
@-moz-keyframes toback { 0% { z-index: 1; } 49.8% { z-index: 1; } 50% { z-index: 300; } 99.9% { z-index: 300; } }
@-o-keyframes toback { 0% { z-index: 1; } 49.8% { z-index: 1; } 50% { z-index: 300; } 99.9% { z-index: 300; } }
@keyframes toback { 0% { z-index: 1; } 49.8% { z-index: 1; } 50% { z-index: 300; } 99.9% { z-index: 300; } }

@-webkit-keyframes spin-show { 0% { opacity: 1; } 49.9% { opacity: 1; } 50% { opacity: 0; } 99.9% { opacity: 0; } }
@-moz-keyframes spin-show { 0% { opacity: 1; } 49.9% { opacity: 1; } 50% { opacity: 0; } 99.9% { opacity: 0; } }
@-o-keyframes spin-show { 0% { opacity: 1; } 49.9% { opacity: 1; } 50% { opacity: 0; } 99.9% { opacity: 0; } }
@keyframes spin-show { 0% { opacity: 1; } 49.9% { opacity: 1;  } 50% { opacity: 0; } 99.9% { opacity: 0; } }

.threeD .slot,.threeD .slot .faces {
	@include transform-style( preserve-3d );
	@include transform-origin( 100% 100% );
}

.threeD .slot0x2 { @include transform( $transform_z_pos_m ); }
.threeD .slot1x1 { @include transform( $transform_z_pos_m ); }
.threeD .slot1x2 { @include transform( $transform_z_pos_m ); }
.threeD .slot2x2 { @include transform( $transform_z_pos_l ); }
.threeD .slot2x4 { @include transform( $transform_z_pos_l ); }
.threeD .slot4x8 { @include transform( $transform_z_pos_b ); }

.threeD .face.top {
	@include transform( $transform_rot_x_neg_90 );
}
.threeD .face.left {
	@include transform( $transform_rot_y_pos_90 );
}
.threeD .face.right, .threeD .slot2x4.down .face.right, .threeD .slot2x4.up .face.right {
	@include transform( $transform_x_pos_l $transform_rot_y_pos_90 );
}
.threeD .slot1x1 .face.right {
	@include transform( $transform_x_pos_m $transform_rot_y_pos_90 );
}
.threeD .slot2x4 .face.right {
	@include transform( $transform_x_pos_b $transform_rot_y_pos_90 );
}
.threeD .slot4x8 .face.right {
	@include transform( $transform_x_pos_b2 $transform_rot_y_pos_90 );
}
.threeD .face.back {
	@include transform( $transform_z_neg_b );
}
.threeD .satellite-c .face.back {
	@include transform( $transform_z_neg_b );
}
.threeD .slot4x8 .face.back {
	@include transform( $transform_z_neg_b2 );
}
.threeD .slot0x2 .face.back,.threeD .slot1x1 .face.back,.threeD .slot1x2 .face.back {
	@include transform( $transform_z_neg_l );
}

.solar-panels {
	position: absolute;
	display: block;
	width: $s * 10.5;
	margin-top: $s * 2;
}
.solar-panels:nth-child(1) li:last-child:before {
	position:absolute;
	content: "";
	@include triangle-l($s*1,$s*2,$black-2);
	right: $s*0.5;
}
.solar-panels:nth-child(2) li:last-child:before {
	position: absolute;
	content: "";
	@include triangle-r($s*1,$s*2,$black-2);
	left: $s*0.5;
}
.solar-panels:nth-child(1) {
	z-index: 100;
	margin-right: $s;
	right: 50%;
}
.solar-panels:nth-child(2) {
	z-index: 1;
	margin-left: $s;
	left: 50%;
}
.solar-panels .label { display: none; }
.solar-panels ol { display: block; margin: 0px; margin-top:-2px; padding: 0px; border-top: $s * 0.2 solid $black-2; }
.solar-panels ol li { display: inline-block; margin: 0px; padding: 0px; margin-top: -$s * 1.1; width: $s * 2; height: $s * 2; }
.solar-panels:nth-child(1) ol { float: right; }
.solar-panels:nth-child(2) ol { float: left; }
.solar-panels:nth-child(1) ol li { float:left; }
.solar-panels:nth-child(2) ol li { float:right; }
.solar-panels:nth-child(1) ol li:last-child { margin-right: $s * 1.5; }
.solar-panels:nth-child(2) ol li:last-child { margin-left: $s * 1.5; }

.radio .face, .radar .face { display: none; }
.threeD .row .radio {
	@include transform-style( preserve-3d );
}



/* Start of hemisphere CSS */
.slot4x8 .hemisphere .inner,.slot4x8 .hemisphere .dome { font-size: $s * 4; }
.slot2x4 .hemisphere .inner,.slot2x4 .hemisphere .dome { font-size: $s * 2; }
.slot1x2 .hemisphere .inner,.slot1x2 .hemisphere .dome { font-size: $s * 2; }
.hemisphere {
	width: 100%;
	height: 200%;
	position: absolute;
	margin: auto;
	top: 0%;
	@include transition( all $trans ease );
}
.hemisphere.south{
	top: -100%;
}
.hemisphere.east, .hemisphere.west {
	height: 100%;
}
.slot4x8 .hemisphere { top: 0%; }
.hemisphere, .dome, .inner { display: inline-block; }
.dome, .inner { width: 100%; }
.dome, .inner { background-color: #ffffff; }
.hemisphere .inner { border: 2px solid white; }
.radar .hemisphere .inner { border: 2px solid $grey-1; }
.satellite-c .inner { border: 1px solid white; }
.north .inner,.west .inner { border-color: #ccc; }

.dome { height: 50%; border: 1px solid rgba(0,0,0,0.1); }
.east .dome, .west .dome {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
$inset: inset #{-$s * 0.2} #{-$s * 0.2} #{$s * 0.2} #{-$s * 0.05} rgba(0,0,0,0.4);
$ss: $s*0.11 $s*0.1 6px -10px rgba(0,0,0,0.3), $inset;
.north .dome { @include box-shadow( $inset ); top: 0%; border-radius: 1em 1em 0 0; }
.south .dome { @include box-shadow( $inset ); border-radius: 0 0 $s $s; }
.radar .hemisphere .dome, .radar .hemisphere .inner { background-color: $grey-1; }
.threeD .south .dome { @include box-shadow( $ss ); border-radius: 0 0 $s $s; }
.east .dome { @include box-shadow( inset #{-$s * 0.2} #{-$s * 0.2} #{$s * 0.2} #{-$s * 0.05} rgba(0,0,0,0.25) ); border-radius: 0 $s $s 0; }
.west .dome { @include box-shadow( inset #{-$s * 0.2} #{-$s * 0.2} #{$s * 0.2} #{-$s * 0.05} rgba(0,0,0,0.25) ); left: 0%; border-radius: $s 0 0 $s; }
.hemisphere .inner, .dome {
	position: absolute;
	margin: 0px;
	top: 50%;
	left: 0;
}
$dometrans: height $trans ease, width $trans ease, border-radius $trans ease;
.hemisphere .inner, .dome, .hemisphere .inner:after {
	@include transition( $dometrans );
}
.hemisphere .inner {
	border-radius: 100%;
}
.hemisphere .inner:after { width: $s * 0.04; height: $s * 0.15; background: $black-4; border-top-left-radius: 100%; border-top-right-radius: 100%; position:absolute; content: ""; left: 50%; margin-left: -2px; bottom: 0%; }
.radar .hemisphere .inner:after { background: $black-2; }
.north .inner:after { border-radius: 0; border-bottom-left-radius: 100%; height: 0.1em; border-bottom-right-radius: 100%; top: 0%; bottom: auto; }
.threeD .inner:after { height: 0.3em; }
.north .inner, .south .inner {
	height: 0%;
}
.threeD .north .inner, .threeD .south .inner {
	@include transform( $transform_y_neg_50pc );
	z-index: 100;
	height: 50%;
}
.east .inner, .west .inner {
	width: 0%;
	height: 100%;
	top: 0%;
}
.east .inner, .west .inner {
	width: 200%;
	z-index: 100;
	left: 0%;
}
.east .inner {
	@include transform( $transform_z_neg_50 $transform_x_neg_50pc $transform_rot_y_pos_90 );
}
.west .inner {
	@include transform( $transform_z_neg_50 $transform_rot_y_neg_90 );
}
/* The northerly dish (pointing down) doesn't ever show its inside */
.north .inner, .threeD .no-inside .inner { height: 0px; display: none; }
.threeD .north .dome, .threeD .north.no-inside .dome {
	height: 75%;
	border-radius: 1em 1em 1em 1em / 0.85em 0.85em 0.75em 0.75em;
}
.threeD .south.no-inside .dome {
	height: 65%;
	top: 35%;
	border-radius: 1em 1em 1em 1em / 0.75em 0.75em 0.85em 0.85em;
}
.threeD .east.no-inside .dome {
	width: 85%;
	left: 15%;
	border-radius: 0.75em 0.85em 0.85em 0.75em / 1em 1em 1em 1em;
}
.threeD .west .dome {
	width: 100%;
	border-radius: 0.85em 0.75em 0.75em 0.85em / 1em 1em 1em 1em;
}
.south .inner { @include box-shadow( inset 0.3em -0.1em 0.2em -0.05em rgba(0,0,0,0.2) ); }
.north .inner { @include box-shadow( inset 0.3em 0.1em 0.2em -0.05em rgba(0,0,0,0.2) ); }
.east .inner { @include box-shadow( inset 0.15em 0.1em 0.2em -0.1em rgba(0,0,0,0.2) ); }
.west .inner { @include box-shadow( inset 0.25em 0.2em 0.2em -0.05em rgba(0,0,0,0.2) ); }
.threeD .slot2x4 .hemisphere.north, .threeD .slot2x4 .hemisphere.south {
	@include transform( $transform_z_neg_l $transform_rot_y_neg_45 $transform_rot_x_pos_iso );
}
.threeD .slot2x4 .hemisphere.east, .threeD .slot2x4 .hemisphere.west {
	@include transform-style( preserve-3d );
}
.threeD .slot2x4 .hemisphere.east .dome, .threeD .slot2x4 .hemisphere.west .dome {
	@include transform( $transform_x_pos_t $transform_z_neg_50 $transform_rot_x_pos_45 );
	@include transform-style( preserve-3d );
}
.threeD .slot2x4 .hemisphere.west .dome {
	@include transform( $transform_z_neg_50 $transform_rot_x_pos_45 );
	@include transform-style( preserve-3d );
}
.threeD .slot4x8 .hemisphere.north, .threeD .slot4x8 .hemisphere.south {
	@include transform( $transform_z_neg_b $transform_rot_y_neg_45 $transform_rot_x_pos_iso );
}
.antenna .face { border: 0px; }
.aerial { width: $s * 3; height: 0; border: $s * 0.1 solid $black-3; position: absolute; z-index: 100; }
.aerial1 { border-left: 0px; border-bottom: 0px; right: 0px; bottom: 0px; }
.aerial2 { border-right: 0px; border-top: 0px; left: 0px; bottom: 0px; }

.threeD .aerials { @include transform-style( preserve-3d ); @include transform( $transform_rot_x_pos_90 ); }
.threeD .aerial { height: $s * 3; }

$aerial1: translateX(-$s*0.5) translateY($s * 2.4);
$aerial2: translateX($s*0.5) translateY(-$s * 0.5);
.threeD .aerial1 {
	@include transform( $aerial1 );
}
.threeD .aerial2 {
	@include transform( $aerial2 );
}
.threeD .satellite.spin .slot2x4 .hemisphere.north, .threeD .satellite.spin .slot2x4 .hemisphere.south {
	@include animation-name( antispin );
	@include transform-style( preserve-3d );
}
.threeD .satellite.spin .slot4x8 .hemisphere.north, .threeD .satellite.spin .slot4x8 .hemisphere.south {
	@include animation-name( antispin_big );
	@include transform-style( preserve-3d );
}

@-webkit-keyframes antispin { 100% { -webkit-transform: $transform_z_neg_l $aspin; } }
@-moz-keyframes antispin { 100% { -moz-transform: $transform_z_neg_l $aspin; } }
@keyframes antispin { 100% { transform: $transform_z_neg_l $aspin; } }
@-webkit-keyframes antispin_big { 100% { -webkit-transform: $transform_z_neg_b $aspin; } }
@-moz-keyframes antispin_big { 100% { -moz-transform: $transform_z_neg_b $aspin; } }
@keyframes antispin_big { 100% { transform: $transform_z_neg_b $aspin; } }

/* End of Hemisphere CSS */

