@import "../../satellite/definitions";
@import "../../../css/definitions";

$rs: $s*4;

.slider-container { width: 100%; height: 25%; min-height: $s*2; overflow: hidden; position: relative; background-color: $grey-5; }
.slider-container .slider { height: 100%; margin-left: 50%; }
.slider-container ul { display: block; height: 100%; margin: 0px; padding: 0px; white-space: nowrap; @include transition(margin-left $trans linear); }
.slider-container li { position: relative; display: inline-block; width: $rs; height: 100%; padding: 0px; margin: 0px; border: 1px solid white; overflow: hidden; background-color: $grey-5; }
.slider-container li .stage-holder { position: absolute; left: 0px; top: 0px; display: table; width: 100%; height: 100%; }
.slider-container li .stage-holder .stage-about { display: table-cell; vertical-align: top; text-align: left; opacity: 0; padding: $s*0.5; @include transition(opacity $trans linear); }
.slider-container li .stage-holder .stage-about.centre { vertical-align: middle; text-align: center; }
.slider-container li.selected .stage-holder .stage-about { opacity: 1; }
.slider-container button { display: block; width: $rs*0.6; text-align: center; padding: 0px; top: 0px; bottom: 0px; position: absolute; border: 0px; cursor: pointer; line-height: 0.5em; z-index: 1; }
.slider-container button:focus { outline: none; }
.slider-container button span { font-size: $rs/2; }
.slider-container li .stage-holder table { border: 0px; width: 100%; line-height: 1.5em; }
.slider-container li .stage-holder table td:last-child { text-align: right; }
.slider-container .prev {
	@include fader($grey-5,1,$grey-5,0);
	left: 0px;
}
.slider-container .next {
	@include fader($grey-5,0,$grey-5,1);
	right: 0px;
}
