<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Classroom Rocket Scientist</title>
	<link rel="stylesheet" media="all" href="css/fonts.css" type="text/css"/>
	<link rel="stylesheet" media="all" href="css/style.css"  type="text/css" />
	<!--[if !IE]> --><link href="tests/satellite/style-nonie.css" rel="stylesheet" type="text/css" media="screen" /><!-- <![endif]-->
	<script type="text/javascript" src="js/rocketscientist.js"></script>
</head>
<body>

	<div id="application">
		<div class="msg noscriptmsg">Oops! If you're seeing this it looks as though there's a problem which is preventing Classroom Rocket Scientist from working. It requires Javascript to be enabled (but does not require Flash or Java plugins). You can use the <a href="http://www.whatsmybrowser.org/">"What's my browser"</a> website to find out what browser version you're using, and whether Javascript is enabled.</div>
		<div id="bar" class="scriptonly">
			<div class="barmenu">
				<div class="baritem">
					<a href="#menu" class="togglebtn togglemenu" title="Menu"><!--LANGUAGE--><img src="images/cleardot.gif" class="icon menu" alt="" /></a>
				</div>
			</div>
		</div>

		<div id="page">
			<section id="start" class="view">
				<h1><!--#echo var="ui.title" --></h1>
				<p><!--#echo var="ui.introduction" --></p>
				<a href="beginner.html">Beginner</a> / <a href="intermediate.html">Intermediate</a> / <a href="advanced.html">Advanced</a>
			</section>
		</div>

		<!--#include file="units.html" -->

		<!--#include file="menu.html" -->
	</div>
</body>
</html>
