<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title><!--#echo var="ui.title" --></title>
	<link rel="stylesheet" media="all" href="css/fonts.css" type="text/css"/>
	<link rel="stylesheet" media="all" href="css/style.css"  type="text/css" />
	<!--[if !IE]> --><link href="tests/satellite/style-nonie.css" rel="stylesheet" type="text/css" media="screen" /><!-- <![endif]-->
	<script type="text/javascript" src="js/convertable.js"></script>
	<script type="text/javascript" src="js/stuquery.js"></script>
	<script type="text/javascript" src="js/rocketscientist.js"></script>
</head>
<body class="front">

	<div id="application">
		<header>
			<div id="bar">
				<div class="barmenu">
					<div class="baritem">
						<button class="togglebtn togglemenu" title="<!--#echo var="ui.menu.title" -->"><img src="images/cleardot.gif" class="icon menu" alt="" /></button></a>
					</div>
				</div>
			</div>
			<div id="progressbar"><div class="progress-inner"></div></div>
		</header>

		<div id="main">
			<section id="start" class="view">
				<div class="table">
					<div class="table-row-top">
						<div class="msg noscriptmsg"><!--#echo var="ui.nojs" --></div>
					</div>
					<div class="table-row">
						<div class="padded">
							<h1><!--#echo var="ui.title" --></h1>
							<p><!--#echo var="ui.introduction" --></p>
							<a href="beginner"><!--#echo var="ui.level.beginner" --></a> / <a href="intermediate"><!--#echo var="ui.level.intermediate" --></a> / <a href="advanced"><!--#echo var="ui.level.advanced" --></a>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!--#include file="units.html" -->

		<!--#include file="menu.html" -->
	</div>
</body>
</html>
