<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title><!--#echo var="ui.title" --></title>
	<link rel="stylesheet" media="all" href="css/fonts.css" type="text/css"/>
	<link rel="stylesheet" media="all" href="css/style.css"  type="text/css" />
	<!--[if !IE]> --><link href="tests/satellite/style-nonie.css" rel="stylesheet" type="text/css" media="screen" /><!-- <![endif]-->
	<script type="text/javascript" src="js/convertable.js"></script>
	<script type="text/javascript" src="js/stuquery.js"></script>
	<script>
		<!--#if expr="${LEVEL} = /beginner/"-->
		var data = <!--#include file="../config/en_beginner_options.json" -->;
		<!--#elif expr="${LEVEL} = /intermediate/"-->
		var data = <!--#include file="../config/en_intermediate_options.json" -->;
		<!--#elif expr="${LEVEL} = /advanced/"-->
		var data = <!--#include file="../config/en_advanced_options.json" -->;
		<!--#else--><!--#endif-->
	</script>
	<script type="text/javascript" src="js/rocketscientist.js"></script>
</head>
<body>
	<script type="text/javascript">
		document.body.innerHTML += '<div id="overlay" style=""><div style="display:table-cell;vertical-align:middle;text-align:center;"><!--#echo var="ui.loading" --></div></div>';
	</script>

	<div id="application" class="<!--#if expr="${LEVEL} = /beginner/"-->beginner<!--#elif expr="${LEVEL} = /intermediate/"-->intermediate<!--#elif expr="${LEVEL} = /advanced/"-->advanced<!--#else--><!--#endif-->">

		<header>
			<div id="bar" class="scriptonly">
				<div class="barmenu">
					<div class="baritem left padded"><h1><a href="index.html"><!--#echo var="ui.title" --></a></h1></div>
					<div class="baritem"><button class="togglebtn togglemenu" title="<!--#echo var="ui.menu.title" -->"><img src="images/cleardot.gif" class="icon menu" alt="" /></button></div>
					<!--#if expr="${LEVEL} = /beginner/"-->
					<!--#elif expr="${LEVEL} = /intermediate/"-->
					<div class="baritem"><button class="togglecost"><!--<img src="images/cleardot.gif" class="icon cost" />--><span class="coin-icon"></span><span class="cost cost_available value convertable" data-value="0" data-units="GBP" data-dimension="currency">&pound;0 m</span></button></div>
					<!--#elif expr="${LEVEL} = /advanced/"-->
					<div class="baritem"><button class="togglecost"><!--<img src="images/cleardot.gif" class="icon cost" />--><span class="coin-icon"></span><span class="cost cost_available value convertable" data-value="0" data-units="GBP" data-dimension="currency">&pound;0 m</span></button></div>
					<!--#else--><!--#endif-->
					<!--#if expr="${LEVEL} = /advanced/"-->
					<div class="baritem"><button class="togglemass"><span class="weight-icon"></span><span class="mass mass_total value convertable" data-value="0" data-units="kg" data-dimension="mass">0 kg</span></button></div>
					<div class="baritem"><button class="togglepower"><span class="power-icon"></span><span class="power power_total value convertable" data-value="0" data-units="watts" data-dimension="power">0 W</span></button></div>
					<!--#else--><!--#endif-->
					<div class="baritem warnings not-at-start">
						<a class="togglewarning" title="View warnings" href="#messages"><img class="icon warning" title="Warnings" src="images/cleardot.gif"> <span class="warning value">3</span></a>
					</div>
				</div>
			</div>
			<div id="progressbar"><div class="progress-inner"></div></div>
		</header>

		<div id="main">
			<section id="type" class="view">
				<div class="padded">
					<div class="page">
						<div class="row-top">
							<div class="msg noscriptmsg"><!--#echo var="ui.nojs" --></div>
							<nav>
								<ol>
									<li class="prev"></li>
									<li class="next"><a href="#goal"><!--#echo var="ui.sections.goal.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.type.title" --></h2>
							<p><!--#echo var="ui.sections.type.intro" --></p>
						</div>
						<div class="row-main">
							<!--#for each="scenarios" name="scenarios" -->
							<div class="holder">
								<div class="image"><img src="<!--#json name="image.file" -->" alt="<!--#json name="image.alt" -->" title="<!--#json name="image.alt" --> / <!--#json name="image.credit" -->" /></div>
								<div class="padded <!--#json name="this" --> type">
									<h3><!--#echo var="scenarios.<!--#json name="this" -->.title" --></h3>
									<p><!--#echo var="scenarios.<!--#json name="this" -->.description" --></p>
									<button class="fancy" data-type="<!--#json name="this" -->"><!--#echo var="ui.button.type" --></button>
								</div>
							</div><!--#endfor name="scenarios" -->
						</div>
					</div>
				</div>
			</section>

			<section id="goal" class="view">
				<div class="padded">
					<div class="page">
						<div class="row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#type"><!--#echo var="ui.sections.type.short" --></a></li>
									<li class="next"><!--#if expr="${LEVEL} = /beginner/"--><a href="#instrument"><!--#echo var="ui.sections.instrument.short" --></a><!--#elif expr="${LEVEL} = /intermediate/"--><a href="#bus"><!--#echo var="ui.sections.bus.short" --></a><!--#elif expr="${LEVEL} = /advanced/"--><a href="#bus"><!--#echo var="ui.sections.bus.short" --></a><!--#else--><!--#endif--></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.goal.title" --></h2>
							<p><!--#echo var="ui.sections.goal.intro" --></p>
						</div><!--#for each="scenarios" name="loopouter" -->
						<div class="<!--#json name="this" --> row-main">
							<div class="holder-holder"><table><tr><!--#for each="missions" name="this.loopinner" -->
								<td>
									<div class="image"><img src="<!--#json name="image.file" -->" alt="<!--#json name="image.alt" -->" title="<!--#json name="image.alt" --> / <!--#json name="image.credit" -->" /></div>
									<div class="padded paddedsmall">
										<h3><!--#json name="title" --></h3>
										<p><!--#json name="description" --></p>
										<table class="data">
											<tr><td class="budget">Budget:</td><td><span class="coin-icon"></span><span data-dimension="<!--#json name="budget.dimension" -->" data-units="<!--#json name="budget.units" -->" data-value="<!--#json name="budget.value" -->" class="length value convertable"><!--#json name="budget.value" --> <!--#json name="budget.units" --></span></td></tr>
										</table>
										<button class="fancy" data-goal="<!--#json name="this" -->"><!--#echo var="ui.button.goal" --></button>
									</div>
								</td><!--#endfor name="this.loopinner" --></tr></table>
							</div>
						</div><!--#endfor name="loopouter" -->
					</div>
				</div>
			</section>

			<!--#if expr="${LEVEL} = /beginner/"-->
			<section id="bus" class="noview">
				<div class="padded">
					<div class="page">
						<div class="row-top">
							<h2><!--#echo var="ui.sections.bus.title" --></h2>
							<p><!--#echo var="ui.sections.bus.intro" --></p>
						</div>
						<div class="row-main">
							<div class="satellite-holder isogrid">
								<!--#for each="bus" name="satellites_b" -->
								<div class="holder blackandwhite">
									<!--#include file="satellites/<!--#json name="this" -->.html" -->
								</div>
								<!--#endfor name="satellites_b" -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--#elif expr="${LEVEL} = /intermediate/"-->
			<section id="bus" class="view">
				<div class="padded">
					<div class="page">
						<div class="row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#goal"><!--#echo var="ui.sections.goal.short" --></a></li>
									<li class="next"><a href="#instrument"><!--#echo var="ui.sections.instrument.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.bus.title" --></h2>
							<p><!--#echo var="ui.sections.bus.intro" --></p>
						</div>
						<div class="row-main">
							<div class="satellite-holder isogrid">
								<!--#for each="bus" name="satellites_i" -->
								<div class="holder blackandwhite">
									<!--#include file="satellites/<!--#json name="this" -->.html" -->
									<table class="data">
										<tr><td class="bus_type"><!--#echo var="ui.sections.bus.type" --></td><td><!--#echo var="bus.<!--#json name="this" -->.title" --></span></td></tr>
										<tr><td class="bus_size"><!--#echo var="ui.sections.bus.size" --></td><td><span data-dimension="<!--#json name="width.dimension" -->" data-units="<!--#json name="width.units" -->" data-value="<!--#json name="width.value" -->" nounits="true" class="value convertable"><!--#json name="width.value" --></span> &times; <span data-dimension="<!--#json name="height.dimension" -->" data-units="<!--#json name="height.units" -->" data-value="<!--#json name="height.value" -->" nounits="true" class="value convertable"><!--#json name="height.value" --></span> &times; <span data-dimension="<!--#json name="depth.dimension" -->" data-units="<!--#json name="depth.units" -->" data-value="<!--#json name="depth.value" -->" class="value convertable"><!--#json name="depth.value" --> <!--#json name="depth.units" --></span></td></tr>
										<tr><td class="bus_structure"><!--#echo var="ui.sections.bus.structure" --></td><td><span data-dimension="<!--#json name="structure.dimension" -->" data-units="<!--#json name="structure.units" -->" data-value="<!--#json name="structure.value" -->" class="value convertable"><!--#json name="structure.value" --> <!--#json name="structure.units" --></span></td></tr>
										<tr><td class="bus_mass"><!--#echo var="ui.sections.bus.mass" --></td><td><span class="weight-icon"></span><span data-dimension="<!--#json name="mass.dimension" -->" data-units="<!--#json name="mass.units" -->" data-value="<!--#json name="mass.value" -->" class="value convertable"><!--#json name="mass.value" --> <!--#json name="mass.units" --></span></td></tr>
										<tr><td class="bus_cost"><!--#echo var="ui.sections.bus.cost" --></td><td><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></td></tr>
									</table>
									<button class="fancy" data-size="<!--#json name="this" -->"><!--#echo var="bus.<!--#json name="this" -->.button" --></button>
								</div>
								<!--#endfor name="satellites_i" -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--#elif expr="${LEVEL} = /advanced/"-->
			<section id="bus" class="view">
				<div class="padded">
					<div class="page">
						<div class="row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#goal"><!--#echo var="ui.sections.goal.short" --></a></li>
									<li class="next"><a href="#orbit"><!--#echo var="ui.sections.orbit.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.bus.title" --></h2>
							<p><!--#echo var="ui.sections.bus.intro" --></p>
						</div>
						<div class="row-main">
							<div class="satellite-holder isogrid">
								<!--#for each="bus" name="satellites_a" -->
								<div class="holder blackandwhite">
									<!--#include file="satellites/<!--#json name="this" -->.html" -->
									<table class="data">
										<tr><td class="bus_type"><!--#echo var="ui.sections.bus.type" --></td><td><!--#echo var="bus.<!--#json name="this" -->.title" --></span></td></tr>
										<tr><td class="bus_size"><!--#echo var="ui.sections.bus.size" --></td><td><span data-dimension="<!--#json name="width.dimension" -->" data-units="<!--#json name="width.units" -->" data-value="<!--#json name="width.value" -->" nounits="true" class="value convertable"><!--#json name="width.value" --></span> &times; <span data-dimension="<!--#json name="height.dimension" -->" data-units="<!--#json name="height.units" -->" data-value="<!--#json name="height.value" -->" nounits="true" class="value convertable"><!--#json name="height.value" --></span> &times; <span data-dimension="<!--#json name="depth.dimension" -->" data-units="<!--#json name="depth.units" -->" data-value="<!--#json name="depth.value" -->" class="value convertable"><!--#json name="depth.value" --> <!--#json name="depth.units" --></span></td></tr>
										<tr><td class="bus_structure"><!--#echo var="ui.sections.bus.structure" --></td><td><span data-dimension="<!--#json name="structure.dimension" -->" data-units="<!--#json name="structure.units" -->" data-value="<!--#json name="structure.value" -->" class="value convertable"><!--#json name="structure.value" --> <!--#json name="structure.units" --></span></td></tr>
										<tr><td class="bus_mass"><!--#echo var="ui.sections.bus.mass" --></td><td><span class="weight-icon"></span><span data-dimension="<!--#json name="mass.dimension" -->" data-units="<!--#json name="mass.units" -->" data-value="<!--#json name="mass.value" -->" class="value convertable"><!--#json name="mass.value" --> <!--#json name="mass.units" --></span></td></tr>
										<tr><td class="bus_cost"><!--#echo var="ui.sections.bus.cost" --></td><td><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></td></tr>
									</table>
									<button class="fancy" data-size="<!--#json name="this" -->"><!--#echo var="bus.<!--#json name="this" -->.button" --></button>
								</div>
								<!--#endfor name="satellites_a" -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--#else--><!--#endif-->

			<!--#if expr="${LEVEL} = /advanced/"-->
			<section id="orbit" class="view">
				<div class="padded">
					<div class="page">
						<div class="row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#bus"><!--#echo var="ui.sections.bus.short" --></a></li>
									<li class="next"><a href="#instrument"><!--#echo var="ui.sections.instrument.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.orbit.title" --></h2>
							<p><!--#echo var="ui.sections.orbit.intro" --></p>
						</div>
						<div class="row-main">
							<div class="col">
								<div class="rows">
									<div class="requirements">
										<div class="padder">
											<h3><!--#echo var="ui.requirements.title" --></h3>
										</div>
									</div>
									<div class="display-area">
										<div class="blueprint orrery-holder isogrid">
											<ul class="orrery">
												<li class="body"><a href="#orbit"><span></span></a><div class="disc"></div></li>
												<li class="orbit GEO"><a href="#orbit"><span>Geostationary orbit</span></a></li>
												<li class="orbit HEO"><a href="#orbit"><span>Highly-elliptical orbit</span></a></li>
												<li class="orbit MEO"><a href="#orbit"><span>Mid-Earth orbit</span></a></li>
												<li class="orbit LEO"><a href="#orbit"><span>Low-Earth orbit</span></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div id="orbit_list" class="list">
									<h3><!--#echo var="ui.sections.orbit.list" --></h3>
									<ul><!--#for each="orbit" name="orbitloop" -->
										<li class="orbit-<!--#json name="this" -->">
											<div class="list-bar bg-orbit"><button class="fancy add" data-orbit="<!--#json name="this" -->">&larr;</button></div>
											<div class="list-right">
												<div class="orbit_title"><strong><!--#json name="title" --></strong></div>
												<div class="orbit_altitude"><!--#echo var="ui.sections.orbit.altitude" --><span data-dimension="<!--#json name="altitude.dimension" -->" data-units="<!--#json name="altitude.units" -->" data-value="<!--#json name="altitude.value" -->" class="value convertable"><!--#json name="altitude.value" --> <!--#json name="altitude.units" --></span></div>
												<div class="orbit_period"><!--#echo var="ui.sections.orbit.period" --><span data-dimension="<!--#json name="period.dimension" -->" data-units="<!--#json name="period.units" -->" data-value="<!--#json name="period.value" -->" class="value convertable"><!--#json name="period.value" --> <!--#json name="period.units" --></span></div>
												<div class="orbit_desc"><!--#json name="description" --></div>
											</div>
										</li><!--#endfor name="orbitloop" -->
									</ul>
								</div>
							</div><!-- end right -->
						</div>
					</div>
				</div>
			</section>
			<!--#else--><!--#endif-->

			<section id="instrument" class="view">
				<div class="padded">
					<div class="page">
						<div class="row-top">
							<nav>
								<ol>
									<li class="prev"><!--#if expr="${LEVEL} = /beginner/"--><a href="#goal"><!--#echo var="ui.sections.goal.short" --></a><!--#elif expr="${LEVEL} = /intermediate/"--><a href="#bus"><!--#echo var="ui.sections.bus.short" --></a><!--#elif expr="${LEVEL} = /advanced/"--><a href="#orbit"><!--#echo var="ui.sections.orbit.short" --></a><!--#else--><!--#endif--></li>
									<li class="next"><a href="#power"><!--#echo var="ui.sections.power.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.instrument.title" --></h2>
							<p><!--#echo var="ui.sections.instrument.intro" --></p>
						</div>
						<div class="row-main">
							<div class="col">
								<div class="rows">
									<div class="requirements">
										<div class="padder">
											<h3><!--#echo var="ui.requirements.title" --></h3>
										</div>
									</div>
									<div class="display-area">
										<div id="satellite" class="blueprint satellite-holder isogrid">
											<div class="holder" id="sat">
												<div class="controls zoomcontrol">
													<button class="fancy zoomin"><!--#echo var="ui.button.zoomin" --></button>
													<button class="fancy zoomout"><!--#echo var="ui.button.zoomout" --></button>
													<!--<button class="fancy make3D"><!--#echo var="ui.button.threeD" --></button>-->
												</div>
												<div class="satellite"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div id="instrument_list" class="list">
									<h3><!--#echo var="ui.sections.instrument.list" --></h3>
									<ul><!--#for each="package" name="instrumentloop" -->
										<li data-package="<!--#json name="this" -->" data-size="<!--#json name="slot" -->">
											<div class="list-bar bg<!--#json name="slot" -->"><button class="fancy add" data-size="<!--#json name="slot" -->" data-package="<!--#json name="this" -->">&plus;</button><button class="fancy remove" disabled="disabled" data-size="<!--#json name="slot" -->" data-package="<!--#json name="this" -->">&minus;</button><div class="value"></div></div>
											<div class="list-left">
												<div class="package_slot <!--#json name="texture.icon" -->"><div class="slot slot<!--#json name="slot" -->"><div class="eg<!--#json name="texture.class" -->"><img src="images/cleardot.gif" class="face front" alt="<!--#json name="title" -->" /><!--#json name="texture.html" --></div></div></div>
											</div>
											<div class="list-right">
												<div class="package_title"><strong><!--#json name="title" --></strong></div>
												<!-- div class="package_size">Size: <span data-dimension="<!--#json name="dimensions[0].dimension" -->" data-units="<!--#json name="dimensions[0].units" -->" data-value="<!--#json name="dimensions[0].value" -->" class="length value convertable"><!--#json name="dimensions[0].value" --> <!--#json name="dimensions[0].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[1].dimension" -->" data-units="<!--#json name="dimensions[1].units" -->" data-value="<!--#json name="dimensions[1].value" -->" class="length value convertable"><!--#json name="dimensions[1].value" --> <!--#json name="dimensions[1].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[2].dimension" -->" data-units="<!--#json name="dimensions[2].units" -->" data-value="<!--#json name="dimensions[2].value" -->" class="length value convertable"><!--#json name="dimensions[2].value" --> <!--#json name="dimensions[2].units" --></span></div -->
												<!--#if expr="${LEVEL} = /beginner/"-->
												<div class="package_cost"><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
												<!--#elif expr="${LEVEL} = /intermediate/"-->
												<div class="package_cost"><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
												<div class="package_power"><span class="power-icon"></span><span data-dimension="<!--#json name="power.dimension" -->" data-units="<!--#json name="power.units" -->" data-value="<!--#json name="power.value" -->" class="value convertable"><!--#json name="power.value" --> <!--#json name="power.units" --></span></div>
												<!--#elif expr="${LEVEL} = /advanced/"-->
												<div class="package_cost"><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
												<div class="package_mass"><span class="weight-icon"></span><span data-dimension="<!--#json name="mass.dimension" -->" data-units="<!--#json name="mass.units" -->" data-value="<!--#json name="mass.value" -->" class="value convertable"><!--#json name="mass.value" --> <!--#json name="mass.units" --></span></div>
												<div class="package_power"><span class="power-icon"></span><span data-dimension="<!--#json name="power.dimension" -->" data-units="<!--#json name="power.units" -->" data-value="<!--#json name="power.value" -->" class="value convertable"><!--#json name="power.value" --> <!--#json name="power.units" --></span></div>
												<!--#else--><!--#endif-->
												<div class="package_desc"><!--#json name="description" --></div>
											</div>
										</li><!--#endfor name="instrumentloop" -->
									</ul>
								</div>
							</div><!-- end right -->
						</div>
					</div>
				</div>
			</section>

			<section id="power" class="view">
				<div class="padded">
					<div class="page">
						<div class="row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#instrument"><!--#echo var="ui.sections.instrument.short" --></a></li>
									<li class="next"><a href="#rocket"><!--#echo var="ui.sections.rocket.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.power.title" --></h2>
							<p><!--#echo var="ui.sections.power.intro" --></p>
						</div>
						<div class="row-main">
							<div class="col">
								<div class="rows">
									<div class="requirements">
										<div class="padder">
											<h3><!--#echo var="ui.requirements.title" --></h3>
										</div>
									</div>
									<div class="display-area">
										<div id="satellite-power" class="blueprint satellite-holder isogrid threeD">
											<div class="holder" id="sat-power">
												<div class="controls zoomcontrol">
													<button class="fancy zoomin"><!--#echo var="ui.button.zoomin" --></button>
													<button class="fancy zoomout"><!--#echo var="ui.button.zoomout" --></button>
													<!--<button class="fancy make3D"><!--#echo var="ui.button.threeD" --></button>
													<button class="fancy animate"><!--#echo var="ui.button.spin" --></button>-->
												</div>
												<div class="controls batterycontrol">
													<div id="power_indicator" class="meter">
														<div class="level"></div>
														<div class="value">0%</div>
													</div>
												</div>
												<div class="satellite"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div id="power_list" class="list">
									<h3><!--#echo var="ui.sections.power.list" --></h3>
									<ul><!--#for each="power" name="powerloop" -->
										<li data-package="<!--#json name="this" -->">
											<div class="list-bar bg<!--#json name="slot" --> <!--#json name="bus" -->"><button class="fancy add" data-size="<!--#json name="slot" -->" data-package="<!--#json name="this" -->">&plus;</button><button class="fancy remove" disabled="disabled" data-size="<!--#json name="slot" -->" data-package="<!--#json name="this" -->">&minus;</button><div class="value"></div></div>
											<div class="list-left">
												<div class="package_slot <!--#json name="texture.icon" -->"><div class="slot slot<!--#json name="slot" -->"><div class="eg<!--#json name="texture.class" -->"><img src="images/cleardot.gif" class="face front" alt="<!--#json name="title" -->" /><!--#json name="texture.html" --></div></div></div>
											</div>
											<div class="list-right">
												<div class="package_title"><strong><!--#json name="title" --></strong></div>
												<!-- div class="package_size">Size: <span data-dimension="<!--#json name="dimensions[0].dimension" -->" data-units="<!--#json name="dimensions[0].units" -->" data-value="<!--#json name="dimensions[0].value" -->" class="length value convertable"><!--#json name="dimensions[0].value" --> <!--#json name="dimensions[0].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[1].dimension" -->" data-units="<!--#json name="dimensions[1].units" -->" data-value="<!--#json name="dimensions[1].value" -->" class="length value convertable"><!--#json name="dimensions[1].value" --> <!--#json name="dimensions[1].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[2].dimension" -->" data-units="<!--#json name="dimensions[2].units" -->" data-value="<!--#json name="dimensions[2].value" -->" class="length value convertable"><!--#json name="dimensions[2].value" --> <!--#json name="dimensions[2].units" --></span></div -->
												<!--#if expr="${LEVEL} = /beginner/"-->
												<div class="package_cost"><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
												<!--#elif expr="${LEVEL} = /intermediate/"-->
												<div class="package_cost"><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
												<div class="package_power"><span class="power-icon"></span><span data-dimension="<!--#json name="power.dimension" -->" data-units="<!--#json name="power.units" -->" data-value="<!--#json name="power.value" -->" class="value convertable"><!--#json name="power.value" --> <!--#json name="power.units" --></span></div>
												<!--#elif expr="${LEVEL} = /advanced/"-->
												<div class="package_cost"><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
												<div class="package_mass"><span class="weight-icon"></span><span data-dimension="<!--#json name="mass.dimension" -->" data-units="<!--#json name="mass.units" -->" data-value="<!--#json name="mass.value" -->" class="value convertable"><!--#json name="mass.value" --> <!--#json name="mass.units" --></span></div>
												<div class="package_power"><span class="power-icon"></span><span data-dimension="<!--#json name="power.dimension" -->" data-units="<!--#json name="power.units" -->" data-value="<!--#json name="power.value" -->" class="value convertable"><!--#json name="power.value" --> <!--#json name="power.units" --></span></div>
												<!--#else--><!--#endif-->
												<div class="package_desc"><!--#json name="description" --></div>
											</div>
										</li><!--#endfor name="powerloop" -->
									</ul>
								</div>
							</div><!-- end right -->
						</div>
					</div>
				</div>
			</section>

			<section id="rocket" class="view">
				<div class="padded">
					<div class="page">
						<div class="row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#power"><!--#echo var="ui.sections.power.short" --></a></li>
									<li class="next"><a href="#launch"><!--#echo var="ui.sections.launch.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.rocket.title" --></h2>
							<p><!--#echo var="ui.sections.rocket.intro" --></p>
						</div>
						<div class="row-main">
							<div class="col">
								<div class="holder-holder">
									<div class="isogrid rocket-holder rocket" id="vehicle">
										<div class="holder">
											<div class="controls zoomcontrol">
												<button class="fancy zoomin"><!--#echo var="ui.button.zoomin" --></button>
												<button class="fancy zoomout"><!--#echo var="ui.button.zoomout" --></button>
											</div>
											<div class="stage payloadbay"><div class="part"></div></div><div class="stage thirdstage"><div class="part"></div></div><div class="stage secondstage"><div class="part"></div></div><div class="stage firststage"><div class="part"></div></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="padd-left">
									<div class="rocket rocket-builder">
										<div class="slider-container payloadbay">
											<div class="slider">
												<button class="prev"><span>&#x276E;</span></button>
												<ul>
													<!--#for each="payloadbay" name="payloadbayloop" --><li class="stage stage-<!--#json name="key" -->">
														<div class="part" style="width:<!--#json name="diameter.value" -->%"></div>
														<div class="stage-holder">
															<div class="stage-about <!--#if expr="<!--#json name="diameter.value" --> = 0"-->centre<!--#else--><!--#endif-->">
																<!--#if expr="<!--#json name="diameter.value" --> = 0"-->None<!--#else-->
																<table>
																	<tr><td><!--#echo var="ui.sections.rocket.size" --></td><td><span data-dimension="<!--#json name="diameter.dimension" -->" data-units="<!--#json name="diameter.units" -->" data-value="<!--#json name="diameter.value" -->" class="value convertable"><!--#json name="diameter.value" --><!--#json name="diameter.units" --></span></td></tr>
																	<tr><td><!--#echo var="ui.sections.rocket.cost" --></td><td><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></td></tr>
																	<tr><td><!--#echo var="ui.sections.rocket.drymass" --></td><td><span data-dimension="<!--#json name="drymass.dimension" -->" data-units="<!--#json name="drymass.units" -->" data-value="<!--#json name="drymass.value" -->" class="value convertable"><!--#json name="drymass.value" --><!--#json name="drymass.units" --></span></td></tr>
																</table><!--#endif-->
															</div>
														</div>
													</li><!--#endfor name="payloadbayloop" -->
												</ul>
												<button class="next"><span>&#x276F;</span></button>
											</div>
										</div>
										<div class="slider-container thirdstage">
											<div class="slider">
												<button class="prev"><span>&#x276E;</span></button>
												<ul>
													<!--#for each="thirdstage" name="thirdstageloop" --><li class="stage stage-<!--#json name="key" -->">
														<div class="part" style="width:<!--#json name="diameter.value" -->%">
															<div class="nozzle"></div>
														</div>
														<div class="stage-holder">
															<div class="stage-about <!--#if expr="<!--#json name="diameter.value" --> = 0"-->centre<!--#else--><!--#endif-->">
																<!--#if expr="<!--#json name="diameter.value" --> = 0"-->None<!--#else-->
																<table>
																	<tr><td><!--#echo var="ui.sections.rocket.size" --></td><td><span data-dimension="<!--#json name="diameter.dimension" -->" data-units="<!--#json name="diameter.units" -->" data-value="<!--#json name="diameter.value" -->" class="value convertable"><!--#json name="diameter.value" --><!--#json name="diameter.units" --></span>
																	<tr><td><!--#echo var="ui.sections.rocket.cost" --></td><td><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span>
																	<tr><td><!--#echo var="ui.sections.rocket.drymass" --></td><td><span data-dimension="<!--#json name="drymass.dimension" -->" data-units="<!--#json name="drymass.units" -->" data-value="<!--#json name="drymass.value" -->" class="value convertable"><!--#json name="drymass.value" --><!--#json name="drymass.units" --></span>
																	<tr><td><!--#echo var="ui.sections.rocket.fuel" --></td><td><span data-dimension="<!--#json name="fuel.dimension" -->" data-units="<!--#json name="fuel.units" -->" data-value="<!--#json name="fuel.value" -->" class="value convertable"><!--#json name="fuel.value" --><!--#json name="fuel.units" --></span>
																</table><!--#endif-->
															</div>
														</div>
													</li><!--#endfor name="thirdstageloop" -->
												</ul>
												<button class="next"><span>&#x276F;</span></button>
											</div>
										</div>
										<div class="slider-container secondstage">
											<div class="slider">
												<button class="prev"><span>&#x276E;</span></button>
												<ul>
													<!--#for each="secondstage" name="secondstageloop" --><li class="stage stage-<!--#json name="key" -->">
														<div class="part" style="width:<!--#json name="diameter.value" -->%">
															<div class="nozzle"></div>
														</div>
														<div class="stage-holder">
															<div class="stage-about <!--#if expr="<!--#json name="diameter.value" --> = 0"-->centre<!--#else--><!--#endif-->">
																<!--#if expr="<!--#json name="diameter.value" --> = 0"-->None<!--#else-->
																<table>
																	<tr><td><!--#echo var="ui.sections.rocket.size" --></td><td><span data-dimension="<!--#json name="diameter.dimension" -->" data-units="<!--#json name="diameter.units" -->" data-value="<!--#json name="diameter.value" -->" class="value convertable"><!--#json name="diameter.value" --><!--#json name="diameter.units" --></span>
																	<tr><td><!--#echo var="ui.sections.rocket.cost" --></td><td><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span>
																	<tr><td><!--#echo var="ui.sections.rocket.drymass" --></td><td><span data-dimension="<!--#json name="drymass.dimension" -->" data-units="<!--#json name="drymass.units" -->" data-value="<!--#json name="drymass.value" -->" class="value convertable"><!--#json name="drymass.value" --><!--#json name="drymass.units" --></span>
																	<tr><td><!--#echo var="ui.sections.rocket.fuel" --></td><td><span data-dimension="<!--#json name="fuel.dimension" -->" data-units="<!--#json name="fuel.units" -->" data-value="<!--#json name="fuel.value" -->" class="value convertable"><!--#json name="fuel.value" --><!--#json name="fuel.units" --></span>
																</table><!--#endif-->
															</div>
														</div>
													</li><!--#endfor name="secondstageloop" -->
												</ul>
												<button class="next"><span>&#x276F;</span></button>
											</div>
										</div>
										<div class="slider-container firststage">
											<div class="slider">
												<button class="prev"><span>&#x276E;</span></button>
												<ul>
													<!--#for each="firststage" name="firststageloop" --><li class="stage stage-<!--#json name="key" -->">
														<div class="part" style="width:<!--#json name="diameter.value" -->%">
															<div class="nozzle"></div>
														</div>
														<div class="stage-holder">
															<div class="stage-about <!--#if expr="<!--#json name="diameter.value" --> = 0"-->centre<!--#else--><!--#endif-->">
																<!--#if expr="<!--#json name="diameter.value" --> = 0"-->None<!--#else-->
																<table>
																	<tr><td><!--#echo var="ui.sections.rocket.size" --></td><td><span data-dimension="<!--#json name="diameter.dimension" -->" data-units="<!--#json name="diameter.units" -->" data-value="<!--#json name="diameter.value" -->" class="value convertable"><!--#json name="diameter.value" --><!--#json name="diameter.units" --></span></td></tr>
																	<tr><td><!--#echo var="ui.sections.rocket.cost" --></td><td><span class="coin-icon"></span><span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></td></tr>
																	<tr><td><!--#echo var="ui.sections.rocket.drymass" --></td><td><span data-dimension="<!--#json name="drymass.dimension" -->" data-units="<!--#json name="drymass.units" -->" data-value="<!--#json name="drymass.value" -->" class="value convertable"><!--#json name="drymass.value" --><!--#json name="drymass.units" --></span></td></tr>
																	<tr><td><!--#echo var="ui.sections.rocket.fuel" --></td><td><span data-dimension="<!--#json name="fuel.dimension" -->" data-units="<!--#json name="fuel.units" -->" data-value="<!--#json name="fuel.value" -->" class="value convertable"><!--#json name="fuel.value" --><!--#json name="fuel.units" --></span></td></tr>
																</table><!--#endif-->
															</div>
														</div>
													</li><!--#endfor name="firststageloop" -->
												</ul>
												<button class="next"><span>&#x276F;</span></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="launch" class="view">
				<div class="padded">
					<div class="page">
						<div class="row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#rocket"><!--#echo var="ui.sections.rocket.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.launch.title" --></h2>
							<p class="errors"><!--#echo var="ui.sections.launch.checklist" --></p>
							<p class="ok"><!--#echo var="ui.sections.launch.goforlaunch" --></p>
							<p><button class="fancy"><!--#echo var="ui.sections.launch.button" --></button></p>
						</div>
					</div>
				</div>
			</section>

		</div>


		<section id="messages">
			<h2>Messages</h2>
			<ul></ul>
		</section>

		<section id="summary">
			<h2>Summary</h2>
		</section>

		<!--#include file="units.html" -->

		<!--#include file="menu.html" -->
	</div>

	<style id="customstylesheet"></style>
</body>
</html>
