<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title><!--#echo var="ui.title" --></title>
	<link rel="stylesheet" media="all" href="css/fonts.css" type="text/css"/>
	<link rel="stylesheet" media="all" href="css/style.css"  type="text/css" />
	<!--[if !IE]> --><link href="tests/satellite/style-nonie.css" rel="stylesheet" type="text/css" media="screen" /><!-- <![endif]-->
	<script type="text/javascript" src="js/rocketscientist.js"></script>
</head>
<body>
	<script type="text/javascript">
		document.body.innerHTML += '<div id="overlay" style="z-index: 2000;width:100%;max-width:100%;width: 100vw;height: 100%;height:100vh;background-color:black;display:table;position:absolute;color:white;"><div style="display:table-cell;vertical-align:middle;text-align:center;"><!--#echo var="ui.loading" --></div></div>';
	</script>

	<div id="application" class="<!--#if expr="${LEVEL} = /beginner/"-->beginner<!--#elif expr="${LEVEL} = /intermediate/"-->intermediate<!--#elif expr="${LEVEL} = /advanced/"-->advanced<!--#else--><!--#endif-->">

		<header>
			<div id="bar" class="scriptonly">
				<div class="barmenu">
					<div class="baritem left padded"><h1><a href="index.html"><!--#echo var="ui.title" --></a></h1></div>
					<div class="baritem"><button class="togglebtn togglemenu" title="<!--#echo var="ui.menu.title" -->"><img src="images/cleardot.gif" class="icon menu" alt="" /></button></div>
					<!--#if expr="${LEVEL} = /beginner/"-->
					<!--#elif expr="${LEVEL} = /intermediate/"-->
					<div class="baritem"><a href="#summary" class="togglecost"><img src="images/cleardot.gif" class="icon cost" /><span class="cost cost_available value convertable" data-value="0" data-units="GBP" data-dimension="currency">&pound;0 m</span></a></div>
					<!--#elif expr="${LEVEL} = /advanced/"-->
					<div class="baritem"><a href="#summary" class="togglecost"><img src="images/cleardot.gif" class="icon cost" /><span class="cost cost_available value convertable" data-value="0" data-units="GBP" data-dimension="currency">&pound;0 m</span></a></div>
					<!--#else--><!--#endif-->
					<!--#if expr="${LEVEL} = /advanced/"-->
					<div class="baritem"><a href="#summaryext_mass" class="togglemass"><img src="images/cleardot.gif" class="icon mass" /><span class="mass mass_total value convertable" data-value="0" data-units="kg" data-dimension="mass">0 kg</span></a></div>
					<!--#else--><!--#endif-->
					<div class="baritem warnings not-at-start">
						<a class="togglewarning" title="View warnings" href="#messages"><img class="icon warning" title="Warnings" src="images/cleardot.gif"> <span class="warning value">3</span></a>
					</div>
				</div>
			</div>
			<nav>
				<ol><!--#for each="sections" name="nav" -->
					<li class="padded"><a href="#<!--#json name="id" -->" class="togglebtn"><img src="images/cleardot.gif" class="icon <!--#json name="id" -->" title="<!--#echo var="ui.sections.<!--#json name="id" -->.title" -->" /></a></li><!--#endfor name="nav" -->
				</ol>
			</nav>
		</header>

		<div id="main">
			<div class="msg noscriptmsg"><!--#echo var="ui.nojs" --></div>
			<section id="type" class="view">
				<div class="padded">
					<h2><!--#echo var="ui.sections.type.title" --></h2>
					<p><!--#echo var="ui.sections.type.intro" --></p>
					<!--#for each="scenarios" name="scenarios" -->
					<div class="holder">
						<div class="padded">
							<h3><!--#echo var="scenarios.<!--#json name="this" -->.title" --></h3>
							<p><!--#echo var="scenarios.<!--#json name="this" -->.description" --></p>
						</div>
					</div><!--#endfor name="scenarios" -->
				</div>
			</section>

			<section id="goal" class="view">
				<div class="padded">
					<h2>Select the purpose of your satellite</h2><!--#for each="scenarios" name="loopouter" -->
					<div class="<!--#json name="this" -->"><!--#for each="missions" name="loopinner" -->
						<div class="holder">
							<div class="padded">
								<h3><!--#json name="title" --></h3>
								<p><!--#json name="description" --></p>
								<div class="budget">Budget: <span data-dimension="<!--#json name="budget.dimension" -->" data-units="<!--#json name="budget.units" -->" data-value="<!--#json name="budget.value" -->" class="length value convertable"><!--#json name="budget.value" --> <!--#json name="budget.units" --></span></div>
							</div>
						</div><!--#endfor name="loopinner" -->
					</div><!--#endfor name="loopouter" -->
				</div>
			</section>

			<!--#if expr="${LEVEL} = /intermediate/"-->
			<section id="bus" class="view">
				<div class="padded">
					<h2><!--#echo var="ui.sections.bus.title" --></h2>
					<p><!--#echo var="ui.sections.bus.intro" --></p>
					<div class="satellite-holder isogrid">
						<!--#for each="bus" name="satellites_i" -->
						<div class="holder">
							<!--#include file="satellites/<!--#json name="this" -->.html" -->
							<p><!--#echo var="bus.<!--#json name="this" -->.title" --></p>
						</div>
						<!--#endfor name="satellites_i" -->
					</div>
				</div>
			</section>
			<!--#elif expr="${LEVEL} = /advanced/"-->
			<section id="bus" class="view">
				<div class="padded">
					<h2><!--#echo var="ui.sections.bus.title" --></h2>
					<p><!--#echo var="ui.sections.bus.intro" --></p>
					<div class="satellite-holder isogrid">
						<!--#for each="bus" name="satellites_a" -->
						<div class="holder">
							<!--#include file="satellites/<!--#json name="this" -->.html" -->
							<p><!--#echo var="bus.<!--#json name="this" -->.title" --></p>
						</div>
						<!--#endfor name="satellites_a" -->
					</div>
				</div>
			</section>
			<!--#else--><!--#endif-->

			<!--#if expr="${LEVEL} = /advanced/"-->
			<section id="orbit" class="view">
				<div class="padded">
					<h2><!--#echo var="ui.sections.orbit.title" --></h2>
					<p><!--#echo var="ui.sections.orbit.intro" --></p>
				</div>
			</section>
			<!--#else--><!--#endif-->

			<section id="instrument" class="view">
				<div class="padded">
					<h2><!--#echo var="ui.sections.instrument.title" --></h2>
					<p><!--#echo var="ui.sections.instrument.intro" --></p>
					<button onClick="zoom(1.1)">&plus;</button>
					<button onClick="zoom(1/1.1)">&minus;</button>
					<button onClick="toggleComms()">Toggle communications</button>
					<button onClick="toggle3D()">Toggle 3D!</button>

					<div id="satellite" class="satellite-holder isogrid threeD">
						<div class="holder" id="sat-l">
							<!--#include file="satellites/large.html" -->
						</div>
					</div>
					<div id="instrument_list">
						<ul><!--#for each="package" name="instrumentloop" -->
							<li>
								<div class="package_title">Title: <!--#json name="title" --></div>
								<div class="package_desc">Description: <!--#json name="description" --></div>
								<div class="package_slot">Slot: <!--#json name="slot" --></div>
								<div class="package_size">Size: <span data-dimension="<!--#json name="dimensions[0].dimension" -->" data-units="<!--#json name="dimensions[0].units" -->" data-value="<!--#json name="dimensions[0].value" -->" class="length value convertable"><!--#json name="dimensions[0].value" --> <!--#json name="dimensions[0].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[1].dimension" -->" data-units="<!--#json name="dimensions[1].units" -->" data-value="<!--#json name="dimensions[1].value" -->" class="length value convertable"><!--#json name="dimensions[1].value" --> <!--#json name="dimensions[1].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[2].dimension" -->" data-units="<!--#json name="dimensions[2].units" -->" data-value="<!--#json name="dimensions[2].value" -->" class="length value convertable"><!--#json name="dimensions[2].value" --> <!--#json name="dimensions[2].units" --></span></div>
								<div class="package_power">Power: <span data-dimension="<!--#json name="power.dimension" -->" data-units="<!--#json name="power.units" -->" data-value="<!--#json name="power.value" -->" class="power value convertable"><!--#json name="power.value" --> <!--#json name="power.units" --></span></div>
								<div class="package_mass">Mass: <span data-dimension="<!--#json name="mass.dimension" -->" data-units="<!--#json name="mass.units" -->" data-value="<!--#json name="mass.value" -->" class="mass value convertable"><!--#json name="mass.value" --> <!--#json name="mass.units" --></span></div>
								<div class="package_cost">Cost: <span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="cost value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
							</li><!--#endfor name="instrumentloop" -->
						</ul>
					</div>
				</div>
			</section>

			<section id="power" class="view">
				<div class="padded">
					<h2><!--#echo var="ui.sections.power.title" --></h2>
					<p><!--#echo var="ui.sections.power.intro" --></p>
		
					<button onClick="addSolar()">&plus; solar panel</button>
					<button onClick="removeSolar()">&minus; solar panel</button>
					<button onClick="toggleSolar()">Toggle fixed solar panels</button>
					<button onClick="toggleAnimation()">Toggle animation!</button>

					<div id="satellite-power" class="satellite-holder isogrid threeD">
						<div class="holder" id="sat-power-l">
							<!--#include file="satellites/large.html" -->
						</div>
					</div>
					<div id="power_list">
						<ul><!--#for each="power" name="powerloop" -->
							<li>
								<div class="package_title">Title: <!--#json name="title" --></div>
								<div class="package_desc">Slot: <!--#json name="description" --></div>
								<div class="package_size">Size: <span data-dimension="<!--#json name="dimensions[0].dimension" -->" data-units="<!--#json name="dimensions[0].units" -->" data-value="<!--#json name="dimensions[0].value" -->" class="length value convertable"><!--#json name="dimensions[0].value" --> <!--#json name="dimensions[0].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[1].dimension" -->" data-units="<!--#json name="dimensions[1].units" -->" data-value="<!--#json name="dimensions[1].value" -->" class="length value convertable"><!--#json name="dimensions[1].value" --> <!--#json name="dimensions[1].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[2].dimension" -->" data-units="<!--#json name="dimensions[2].units" -->" data-value="<!--#json name="dimensions[2].value" -->" class="length value convertable"><!--#json name="dimensions[2].value" --> <!--#json name="dimensions[2].units" --></span></div>
								<!--#if expr="${LEVEL} = /beginner/"-->
								<!--#elif expr="${LEVEL} = /intermediate/"-->
								<div class="package_mass">Mass: <span data-dimension="<!--#json name="mass.dimension" -->" data-units="<!--#json name="mass.units" -->" data-value="<!--#json name="mass.value" -->" class="mass value convertable"><!--#json name="mass.value" --> <!--#json name="mass.units" --></span></div>
								<div class="package_cost">Cost: <span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="cost value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
								<!--#elif expr="${LEVEL} = /advanced/"-->
								<div class="package_power">Power: <span data-dimension="<!--#json name="power.dimension" -->" data-units="<!--#json name="power.units" -->" data-value="<!--#json name="power.value" -->" class="power value convertable"><!--#json name="power.value" --> <!--#json name="power.units" --></span></div>
								<div class="package_mass">Mass: <span data-dimension="<!--#json name="mass.dimension" -->" data-units="<!--#json name="mass.units" -->" data-value="<!--#json name="mass.value" -->" class="mass value convertable"><!--#json name="mass.value" --> <!--#json name="mass.units" --></span></div>
								<div class="package_cost">Cost: <span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="cost value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
								<!--#else--><!--#endif-->
							</li><!--#endfor name="powerloop" -->
						</ul>
					</div>
				</div>
			</section>

			<section id="rocket" class="view">
				<div class="padded">
					<h2><!--#echo var="ui.sections.rocket.title" --></h2>
					<p><!--#echo var="ui.sections.rocket.intro" --></p>
				</div>
			</section>

			<section id="launch" class="view">
				<div class="padded">
					<h2><!--#echo var="ui.sections.launch.title" --></h2>
					<p><!--#echo var="ui.sections.launch.intro" --></p>
				</div>
			</section>

		</div>


		<section id="messages">
			<h2>Messages</h2>
			<ul></ul>
		</section>

		<section id="summary">
			<h2>Summary</h2>
		</section>

		<!--#include file="units.html" -->

		<!--#include file="menu.html" -->
	</div>
</body>
</html>
