<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title><!--#echo var="ui.title" --></title>
	<link rel="stylesheet" media="all" href="css/fonts.css" type="text/css"/>
	<link rel="stylesheet" media="all" href="css/style.css"  type="text/css" />
	<!--[if !IE]> --><link href="tests/satellite/style-nonie.css" rel="stylesheet" type="text/css" media="screen" /><!-- <![endif]-->
	<script type="text/javascript" src="js/convertable.js"></script>
	<script type="text/javascript" src="js/rocketscientist.js"></script>
</head>
<body>
	<script type="text/javascript">
		document.body.innerHTML += '<div id="overlay" style="z-index:10000;width:100%;max-width:100%;width: 100vw;height: 100%;height:100vh;max-height:100%;background-color:black;display:table;position:absolute;color:white;"><div style="display:table-cell;vertical-align:middle;text-align:center;"><!--#echo var="ui.loading" --></div></div>';
	</script>

	<div id="application" class="<!--#if expr="${LEVEL} = /beginner/"-->beginner<!--#elif expr="${LEVEL} = /intermediate/"-->intermediate<!--#elif expr="${LEVEL} = /advanced/"-->advanced<!--#else--><!--#endif-->">

		<header>
			<div id="bar" class="scriptonly">
				<div class="barmenu">
					<div class="baritem left padded"><h1><a href="index.html"><!--#echo var="ui.title" --></a></h1></div>
					<div class="baritem"><button class="togglebtn togglemenu" title="<!--#echo var="ui.menu.title" -->"><img src="images/cleardot.gif" class="icon menu" alt="" /></button></div>
					<!--#if expr="${LEVEL} = /beginner/"-->
					<!--#elif expr="${LEVEL} = /intermediate/"-->
					<div class="baritem"><a href="#summary" class="togglecost"><img src="images/cleardot.gif" class="icon cost" /><span class="cost cost_available value convertable" data-value="0" data-units="GBP" data-dimension="currency">&pound;0 m</span></a></div>
					<!--#elif expr="${LEVEL} = /advanced/"-->
					<div class="baritem"><a href="#summary" class="togglecost"><img src="images/cleardot.gif" class="icon cost" /><span class="cost cost_available value convertable" data-value="0" data-units="GBP" data-dimension="currency">&pound;0 m</span></a></div>
					<!--#else--><!--#endif-->
					<!--#if expr="${LEVEL} = /advanced/"-->
					<div class="baritem"><a href="#summaryext_mass" class="togglemass"><img src="images/cleardot.gif" class="icon mass" /><span class="mass mass_total value convertable" data-value="0" data-units="kg" data-dimension="mass">0 kg</span></a></div>
					<!--#else--><!--#endif-->
					<div class="baritem warnings not-at-start">
						<a class="togglewarning" title="View warnings" href="#messages"><img class="icon warning" title="Warnings" src="images/cleardot.gif"> <span class="warning value">3</span></a>
					</div>
				</div>
			</div>
			<div id="progressbar"><div class="progress-inner"></div></div>
		</header>

		<div id="main">
			<section id="type" class="view">
				<div class="padded">
					<div class="table">
						<div class="table-row-top">
							<div class="msg noscriptmsg"><!--#echo var="ui.nojs" --></div>
						</div>
						<div class="table-row">
							<div class="">
								<nav>
									<ol>
										<li class="prev"></li>
										<li class="next"><a href="#goal"><!--#echo var="ui.sections.goal.short" --></a></li>
									</ol>
								</nav>
								<h2><!--#echo var="ui.sections.type.title" --></h2>
								<p><!--#echo var="ui.sections.type.intro" --></p>
								<!--#for each="scenarios" name="scenarios" -->
								<div class="holder">
									<div class="padded <!--#json name="this" --> type">
										<h3><!--#echo var="scenarios.<!--#json name="this" -->.title" --></h3>
										<p><!--#echo var="scenarios.<!--#json name="this" -->.description" --></p>
										<button class="fancy" data-type="<!--#json name="this" -->"><!--#echo var="ui.button.type" --></button>
									</div>
								</div><!--#endfor name="scenarios" -->
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="goal" class="view">
				<div class="padded">
					<div class="table">
						<div class="table-row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#type"><!--#echo var="ui.sections.type.short" --></a></li>
									<li class="next"><!--#if expr="${LEVEL} = /beginner/"--><a href="#instrument"><!--#echo var="ui.sections.instrument.short" --></a><!--#elif expr="${LEVEL} = /intermediate/"--><a href="#bus"><!--#echo var="ui.sections.bus.short" --></a><!--#elif expr="${LEVEL} = /advanced/"--><a href="#bus"><!--#echo var="ui.sections.bus.short" --></a><!--#else--><!--#endif--></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.goal.title" --></h2>
						</div><!--#for each="scenarios" name="loopouter" -->
						<div class="<!--#json name="this" --> table-row">
							<div class="holder-holder"><!--#for each="missions" name="loopinner" -->
								<div class="holder">
									<div class="padded">
										<h3><!--#json name="title" --></h3>
										<p><!--#json name="description" --></p>
										<div class="budget">Budget: <span data-dimension="<!--#json name="budget.dimension" -->" data-units="<!--#json name="budget.units" -->" data-value="<!--#json name="budget.value" -->" class="length value convertable"><!--#json name="budget.value" --> <!--#json name="budget.units" --></span></div>
										<button class="fancy" data-goal="<!--#json name="this" -->"><!--#echo var="ui.button.goal" --></button>
									</div>
								</div><!--#endfor name="loopinner" -->
							</div>
						</div><!--#endfor name="loopouter" -->
					</div>
				</div>
			</section>

			<!--#if expr="${LEVEL} = /intermediate/"-->
			<section id="bus" class="view">
				<div class="padded">
					<div class="table">
						<div class="table-row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#goal"><!--#echo var="ui.sections.goal.short" --></a></li>
									<li class="next"><a href="#instrument"><!--#echo var="ui.sections.instrument.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.bus.title" --></h2>
							<p><!--#echo var="ui.sections.bus.intro" --></p>
						</div>
						<div class="table-row">
							<div class="satellite-holder isogrid">
								<!--#for each="bus" name="satellites_i" -->
								<div class="holder blackandwhite">
									<!--#include file="satellites/<!--#json name="this" -->.html" -->
									<p><!--#echo var="bus.<!--#json name="this" -->.title" --></p>
									<button class="fancy" data-size="<!--#json name="this" -->"><!--#echo var="ui.button.bus" --></button>
								</div>
								<!--#endfor name="satellites_i" -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--#elif expr="${LEVEL} = /advanced/"-->
			<section id="bus" class="view">
				<div class="padded">
					<div class="table">
						<div class="table-row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#goal"><!--#echo var="ui.sections.goal.short" --></a></li>
									<li class="next"><a href="#orbit"><!--#echo var="ui.sections.orbit.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.bus.title" --></h2>
							<p><!--#echo var="ui.sections.bus.intro" --></p>
						</div>
						<div class="table-row">
							<div class="satellite-holder isogrid">
								<!--#for each="bus" name="satellites_a" -->
								<div class="holder blackandwhite">
									<!--#include file="satellites/<!--#json name="this" -->.html" -->
									<p><!--#echo var="bus.<!--#json name="this" -->.title" --></p>
									<button class="fancy" data-size="<!--#json name="this" -->"><!--#echo var="ui.button.bus" --></button>
								</div>
								<!--#endfor name="satellites_a" -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--#else--><!--#endif-->

			<!--#if expr="${LEVEL} = /advanced/"-->
			<section id="orbit" class="view">
				<div class="padded">
					<div class="table">
						<div class="table-row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#bus"><!--#echo var="ui.sections.bus.short" --></a></li>
									<li class="next"><a href="#instrument"><!--#echo var="ui.sections.instrument.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.orbit.title" --></h2>
							<p><!--#echo var="ui.sections.orbit.intro" --></p>
						</div>
						<div class="table-row">
						</div>
					</div>
				</div>
			</section>
			<!--#else--><!--#endif-->

			<section id="instrument" class="view">
				<div class="padded">
					<div class="table">
						<div class="table-row-top">
							<nav>
								<ol>
									<li class="prev"><!--#if expr="${LEVEL} = /beginner/"--><a href="#goal"><!--#echo var="ui.sections.goal.short" --></a><!--#elif expr="${LEVEL} = /intermediate/"--><a href="#bus"><!--#echo var="ui.sections.bus.short" --></a><!--#elif expr="${LEVEL} = /advanced/"--><a href="#orbit"><!--#echo var="ui.sections.orbit.short" --></a><!--#else--><!--#endif--></li>
									<li class="next"><a href="#power"><!--#echo var="ui.sections.power.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.instrument.title" --></h2>
							<p><!--#echo var="ui.sections.instrument.intro" --></p>
						</div>
						<div class="table-row">
							<div class="lower">
								<div class="row-flex row-flex-wrap">
									<div class="col-left">
										<div class="flex-col">
											<div class="requirements">
												<div class="padder">
													<h3><!--#echo var="ui.requirements.title" --></h3>
													<button class="fancy" onClick="toggleComms()">Toggle communications</button>
												</div>
											</div>
											<div class="flex-grow">
												<div id="satellite" class="satellite-holder isogrid">
													<div class="holder" id="sat">
														<div class="zoomcontrol">
															<button class="fancy zoomin"><!--#echo var="ui.button.zoomin" --></button>
															<button class="fancy zoomout"><!--#echo var="ui.button.zoomout" --></button>
															<!--<button class="fancy make3D"><!--#echo var="ui.button.threeD" --></button>-->
														</div>
														<div class="satellite"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-right">
										<div id="instrument_list" class="list">
											<h3><!--#echo var="ui.sections.instrument.list" --></h3>
											<ul><!--#for each="package" name="instrumentloop" -->
												<li data-package="<!--#json name="this" -->">
													<div class="list-bar bg<!--#json name="slot" -->"><button class="fancy add">&plus;</button><button class="fancy remove" disabled="disabled">&minus;</button></div>
													<div class="list-left">
														<div class="package_slot <!--#json name="image.icon" -->"><div class="slot slot<!--#json name="slot" -->"><div class="eg<!--#json name="image.class" -->"><img src="images/cleardot.gif" class="face front" alt="<!--#json name="image.alt" -->" /><!--#json name="image.html" --></div></div></div>
													</div>
													<div class="list-right">
														<div class="package_title"><strong><!--#json name="title" --></strong></div>
														<!-- div class="package_size">Size: <span data-dimension="<!--#json name="dimensions[0].dimension" -->" data-units="<!--#json name="dimensions[0].units" -->" data-value="<!--#json name="dimensions[0].value" -->" class="length value convertable"><!--#json name="dimensions[0].value" --> <!--#json name="dimensions[0].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[1].dimension" -->" data-units="<!--#json name="dimensions[1].units" -->" data-value="<!--#json name="dimensions[1].value" -->" class="length value convertable"><!--#json name="dimensions[1].value" --> <!--#json name="dimensions[1].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[2].dimension" -->" data-units="<!--#json name="dimensions[2].units" -->" data-value="<!--#json name="dimensions[2].value" -->" class="length value convertable"><!--#json name="dimensions[2].value" --> <!--#json name="dimensions[2].units" --></span></div -->
														<div class="package_cost"><img src="images/cleardot.gif" alt="Cost" class="icon cost" /> <span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
														<div class="package_mass"><img src="images/cleardot.gif" alt="Mass" class="icon mass" /> <span data-dimension="<!--#json name="mass.dimension" -->" data-units="<!--#json name="mass.units" -->" data-value="<!--#json name="mass.value" -->" class="value convertable"><!--#json name="mass.value" --> <!--#json name="mass.units" --></span></div>
														<div class="package_power"><img src="images/cleardot.gif" alt="Power" class="icon power" /> <span data-dimension="<!--#json name="power.dimension" -->" data-units="<!--#json name="power.units" -->" data-value="<!--#json name="power.value" -->" class="value convertable"><!--#json name="power.value" --> <!--#json name="power.units" --></span></div>
														<div class="package_desc"><!--#json name="description" --></div>
													</div>
												</li><!--#endfor name="instrumentloop" -->
											</ul>
										</div>
									</div><!-- end right -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="power" class="view">
				<div class="padded">
					<div class="table">
						<div class="table-row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#instrument"><!--#echo var="ui.sections.instrument.short" --></a></li>
									<li class="next"><a href="#rocket"><!--#echo var="ui.sections.rocket.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.power.title" --></h2>
							<p><!--#echo var="ui.sections.power.intro" --></p>
						</div>
						<div class="table-row">
							<div class="lower">
								<div class="row-flex row-flex-wrap">
									<div class="col-left">
										<div class="flex-col">
											<div class="requirements">
												<div class="padder">
													<h3><!--#echo var="ui.requirements.title" --></h3>
												</div>
											</div>
											<div class="flex-grow">
												<div id="satellite-power" class="satellite-holder isogrid threeD">
													<div class="holder" id="sat-power">
														<div class="zoomcontrol">
															<button class="fancy zoomin"><!--#echo var="ui.button.zoomin" --></button>
															<button class="fancy zoomout"><!--#echo var="ui.button.zoomout" --></button>
															<!--<button class="fancy make3D"><!--#echo var="ui.button.threeD" --></button>
															<button class="fancy animate"><!--#echo var="ui.button.spin" --></button>-->
														</div>
														<div class="satellite"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-right">
										<div id="power_list" class="list">
											<h3><!--#echo var="ui.sections.power.list" --></h3>
											<ul><!--#for each="power" name="powerloop" -->
												<li data-package="<!--#json name="this" -->">
													<div class="list-bar bg<!--#json name="slot" -->"></div>
													<div class="list-left">
														<div class="package_slot <!--#json name="image.icon" -->"><div class="slot slot<!--#json name="slot" -->"><div class="eg<!--#json name="image.class" -->"><img src="images/cleardot.gif" class="face front" alt="<!--#json name="image.alt" -->" /><!--#json name="image.html" --></div></div></div>
													</div>
													<div class="list-right">
														<div class="package_title"><strong><!--#json name="title" --></strong></div>
														<!-- div class="package_size">Size: <span data-dimension="<!--#json name="dimensions[0].dimension" -->" data-units="<!--#json name="dimensions[0].units" -->" data-value="<!--#json name="dimensions[0].value" -->" class="length value convertable"><!--#json name="dimensions[0].value" --> <!--#json name="dimensions[0].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[1].dimension" -->" data-units="<!--#json name="dimensions[1].units" -->" data-value="<!--#json name="dimensions[1].value" -->" class="length value convertable"><!--#json name="dimensions[1].value" --> <!--#json name="dimensions[1].units" --></span> &times; <span data-dimension="<!--#json name="dimensions[2].dimension" -->" data-units="<!--#json name="dimensions[2].units" -->" data-value="<!--#json name="dimensions[2].value" -->" class="length value convertable"><!--#json name="dimensions[2].value" --> <!--#json name="dimensions[2].units" --></span></div -->
														<!--#if expr="${LEVEL} = /beginner/"-->
														<!--#elif expr="${LEVEL} = /intermediate/"-->
														<div class="package_mass"><img src="images/cleardot.gif" alt="Mass" class="icon mass" /> <span data-dimension="<!--#json name="mass.dimension" -->" data-units="<!--#json name="mass.units" -->" data-value="<!--#json name="mass.value" -->" class="mass value convertable"><!--#json name="mass.value" --> <!--#json name="mass.units" --></span></div>
														<div class="package_cost"><img src="images/cleardot.gif" alt="Cost" class="icon cost" /> <span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="cost value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
														<!--#elif expr="${LEVEL} = /advanced/"-->
														<div class="package_cost"><img src="images/cleardot.gif" alt="Cost" class="icon cost" /> <span data-dimension="<!--#json name="cost.dimension" -->" data-units="<!--#json name="cost.units" -->" data-value="<!--#json name="cost.value" -->" class="value convertable"><!--#json name="cost.value" --> <!--#json name="cost.units" --></span></div>
														<div class="package_mass"><img src="images/cleardot.gif" alt="Mass" class="icon mass" /> <span data-dimension="<!--#json name="mass.dimension" -->" data-units="<!--#json name="mass.units" -->" data-value="<!--#json name="mass.value" -->" class="value convertable"><!--#json name="mass.value" --> <!--#json name="mass.units" --></span></div>
														<div class="package_power"><img src="images/cleardot.gif" alt="Power" class="icon power" /> <span data-dimension="<!--#json name="power.dimension" -->" data-units="<!--#json name="power.units" -->" data-value="<!--#json name="power.value" -->" class="value convertable"><!--#json name="power.value" --> <!--#json name="power.units" --></span></div>
														<!--#else--><!--#endif-->
														<div class="package_desc"><!--#json name="description" --></div>
													</div>
												</li><!--#endfor name="powerloop" -->
											</ul>
										</div>
									</div><!-- end right -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="rocket" class="view">
				<div class="padded">
					<div class="table">
						<div class="table-row-top">
							<nav>
								<ol>
									<li class="prev"><a href="#power"><!--#echo var="ui.sections.power.short" --></a></li>
									<li class="next"><a href="#launch"><!--#echo var="ui.sections.launch.short" --></a></li>
								</ol>
							</nav>
							<h2><!--#echo var="ui.sections.rocket.title" --></h2>
							<p><!--#echo var="ui.sections.rocket.intro" --></p>
						</div>
					</div>
				</div>
			</section>

			<section id="launch" class="view">
				<div class="padded">
					<h2><!--#echo var="ui.sections.launch.title" --></h2>
					<p><!--#echo var="ui.sections.launch.intro" --></p>
				</div>
			</section>

		</div>


		<section id="messages">
			<h2>Messages</h2>
			<ul></ul>
		</section>

		<section id="summary">
			<h2>Summary</h2>
		</section>

		<!--#include file="units.html" -->

		<!--#include file="menu.html" -->
	</div>
</body>
</html>
