						<menu id="menu-cost" class="dropdown not-at-start">
							<li class="baritem" data="cost"><button class="menucost" title="<!--#echo var="ui.menu.cost.cost" -->"><span class="coin-icon"></span><span class="cost cost_available value convertable" data-value="0" data-units="GBP" data-dimension="currency">&pound;0 m</span><span class="label-right"><!--#echo var="ui.menu.cost.cost" --></span></button></li>
							<li class="baritem" data="budget"><button class="menubudget" title="<!--#echo var="ui.menu.cost.budget" -->"><span class="coin-icon"></span><span class="cost budget_available value convertable" data-value="0" data-units="GBP" data-dimension="currency">&pound;0 m</span><span class="label-right"><!--#echo var="ui.menu.cost.budget" --></span></button></li>
						</menu>
