						<menu id="menu-power" class="dropdown not-at-start">
							<li class="baritem" data="powerreq"><button class="menupowerreq" title="<!--#echo var="ui.menu.power.required" -->"><span class="power-icon"></span><span class="power power_req value convertable" data-value="0" data-units="W" data-dimension="power">0 W</span><span class="label-right"><!--#echo var="ui.menu.power.required" --></span></button></li>
							<li class="baritem" data="poweravail"><div class="menupoweravail" title="<!--#echo var="ui.menu.power.available" -->"><span class="power-icon"></span><span class="power power_available value convertable" data-value="0" data-units="W" data-dimension="power">0 W</span><span class="label-right"><!--#echo var="ui.menu.power.available" --></span></div></li>
						</menu>
