<menu id="menu" class="dropdown not-at-start">
	<li class="baritem" data="restart"><button><img src="images/cleardot.gif" class="icon restart" alt="" /><span>Restart</span></button></li>
	<li class="baritem" data="difficulty"><button><img src="images/cleardot.gif" class="icon difficulty" alt="" /><span>Difficulty</span></button></li>
	<!--<li class="baritem" data="help"><a href="#guide"><img src="images/cleardot.gif" class="icon help" alt="" /><span>Help</span></a></li>-->
	<li class="baritem" data="options"><button><img src="images/cleardot.gif" class="icon options" alt="" /><span>Units</span></button></li>
	<li class="baritem" data="fullscreen"><button class="fullscreenbtn" title="Switch between viewing fullscreen or in a standard browser window"><img alt="" class="icon fullscreen" src="images/cleardot.gif" /><span>Toggle fullscreen</span></button></li>
	<li class="baritem">
		<button class="togglebtn togglelang" title="Change Language"><!--LANGUAGE--><img src="images/cleardot.gif" class="icon globe" alt="Language" /><span>Language</span></button>
		<div id="language" class="dropdown"><ul></ul></div>
	</li>
</menu>