<section id="about" class="not-at-start fullpage">
    <div class="container">
        <div class="padded">
            <a class="close" title="<!--#echo var="ui.close" -->" href="#">&times;</a>
            <h2><!--#echo var="ui.sections.about.title" --></h2>
            <!--#echo var="ui.sections.about.intro" -->
            <div class="icons">
                <img src="images/CardiffPhysics_200px.png">
            </div>
        </div>
    </div>
</section>

<section id="guide" class="not-at-start fullpage">
    <div class="container">
        <div class="padded">
            <a class="close" title="<!--#echo var="ui.close" -->" href="#">&times;</a>
            <h2><!--#echo var="ui.sections.guide.title" --></h2>
            <!--#echo var="ui.sections.guide.intro" -->
        </div>
    </div>
</section>

<section id="help" class="not-at-start fullpage">
    <div class="container">
        <div class="padded">
            <a class="close" title="<!--#echo var="ui.close" -->" href="#">&times;</a>
            <h2><!--#echo var="ui.sections.help.title" --></h2>
            <!--#echo var="ui.sections.help.intro" -->
        </div>
    </div>
</section>